[2015-05-19 18:57] ariel-phet opened #1 "Hooke's Law master checklist"
## Design
- [x] **Design doc created** (Date: 03/05/2015)
- [x] **Learning goals and standards identified** (Date: 04/09/2015)
- [x] **Design concept complete**  (Date: 04/09/2015 )
- [x] **Wireframes complete** (Date: 05/14/2015 )
- [x] **Mockups complete** (Date: 06/10/2015 )
  - [x] Mockups checked for colorblind and greyscale
- [x] **Interviews complete** (Date: 06/25/2015)
  - [x] Results rep

[2015-06-25 19:53] pixelzoom opened #2 "code review"
# PhET code-review checklist

**Build and Run Checks**
- [x] Does the sim pass jshint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [x] Are there any strings that are not

[2015-06-25 19:53] pixelzoom commented on #2
Checklist above. I'll assign this to @jessegreenberg when I'm ready for review.

[2015-06-29 21:29] pixelzoom commented on #2
@jessegreenberg The simulation is ready for code review.  A few notes...

Read these documents first, in this order:
• https://github.com/phetsims/hookes-law/blob/master/doc/model.md
• https://github.com/phetsims/hookes-law/blob/master/doc/implementation-notes.md

`ParametricSpringNode` will be moving to scenery-phet, but I've left it here for now so that you can include it in the code review. The

[2015-06-30 15:27] jessegreenberg commented on #2
Excellent, thanks.  I will start this right away.

[2015-07-06 17:48] pixelzoom opened #3 "ParametricSpringNode optimizations"
Hooke's Law feels a bit sluggish to me on iPad, especially after we started using the more complicated ParametricSpringNode for the spring view.

 To demonstrate, compare this version that uses a simple spring view:
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.17/hookes-law_en.html

... to this version with ParametricSpringNode:
http://www.colorado.edu/physics/phet/dev/html/h

[2015-07-06 17:57] pixelzoom commented on #3
More info... HookesLawSpringNode is the subtype of ParametricSpringNode that's used by the sim.

One optimization would be to remove this feature from HookesLawSpringNode:

[code]

This is expensive, as it causes the gradients to be recomputed every time the displacement changes. Without this, gradients would be computed only once, at construction.  Since this effect is subtle, I'm not sure that i

[2015-07-06 17:59] pixelzoom commented on #3
Btw... The performance improvement for dropping the above feature is noticeable, but not enough to make performance feel snappy on iPad.

[2015-07-06 18:02] pixelzoom commented on #3
More info for @jonathanolson ... ParametricSpringNode has a lot of properties. But there are only 3 that change in this sim, as can be seen in HookesLawSpringNode (search for ".set"). The properties that change are: xScale, lineWidth and aspectRatio.

[2015-07-06 18:24] jessegreenberg opened #4 "Scene controls can go out of bounds if visibility control is narrow"
Intro and systems scene controls can get pushed out of bounds if strings in the visibility control are short enough. Here are some captures of the effect:

In the Intro screen:

![introboundstest](https://cloud.githubusercontent.com/assets/6396244/8529695/702977ba-23d9-11e5-93d1-1d18908f86b9.PNG)

In the Systems screen:

![systemsboundstest](https://cloud.githubusercontent.com/assets/6396244/85297

[2015-07-06 18:29] jessegreenberg opened #5 "This sim does not have an assets file yet"
Assets file is missing.  No image files are used in this sim, so no assets are necessary, but hookes-law-screenshot.png will eventually be placed here.

[2015-07-06 18:35] jessegreenberg opened #6 "Unused image plugin in hookes-law-config"
Not sure about this one, but should the image plugin be removed from hookes-law-config?  No images are used in this sim so this is an unused plugin.

[2015-07-06 18:44] jessegreenberg opened #7 "Some comments do not extend to 120 characters"
In the PhET Development Overview, comment style is defined such that

I notice that in files like Spring.js, ParametricSpringControls.js, IntroSystemNode.js, ParallelSystemsNode.js, SeriesSystemNode.js, line breaks are inserted well before the 120th character.

[2015-07-06 18:49] jessegreenberg opened #8 "changes.txt is empty"
changes.txt is empty in Hook's Law, is this OK?

The PhET Development Overview states that this file is visible to all PhET users after deployment, so I wanted to make sure.

[2015-07-06 19:01] pixelzoom commented on #5
It's not possible to have an empty directory checked into git.  The assets directory will exist when there's something to put in it.

[2015-07-06 19:01] pixelzoom commented on #5
I'm going to close this issue, since creating the screenshot is on my TODO list.

[2015-07-06 19:01] #5 closed, assigned to pixelzoom

[2015-07-06 19:02] pixelzoom commented on #6
The image plugin is required because dependences (e.g. joist) require it.

Closing.

[2015-07-06 19:02] #6 closed, assigned to pixelzoom

[2015-07-06 19:03] pixelzoom commented on #7
120 is an upper limit, there's no requirement to extend each comment line to that limit. I prefer to break lines where it feels most natural and readable.

Closing.

[2015-07-06 19:03] #7 closed, assigned to pixelzoom

[2015-07-06 19:05] jessegreenberg opened #9 "createPropertySet() pattern in ParametricSpringNode"
createPropertySet is used as a static function to initialize all properties for the ParametricSpringNode.  This pattern is not used in any other scenery-phet object and requires the user to call

[code]

 every time a ParametricSpringNode is instantiated.  Why is createPropertySet() used instead of passing properties into the main ParametricSpringNode constructor in an options block?

[2015-07-06 19:09] arouinfar commented on #3
@pixelzoom, I would be fine with dropping this behavior, especially since it has a noticeable impact on performance. While it's a nice touch, I doubt that many users will notice such a subtle change in the coil radius. I don't think it's worth sacrificing performance for it.

[2015-07-06 19:15] pixelzoom commented on #8
@jessegreenberg changes.txt has a complicated history. Got a minute? :)

changes.txt was used in Java/Flash sims by some developers (mostly me) as a way to record the changes that they made during development.  This was done mostly because Unfuddle SVN made it difficult to see commit messages. Most of the entries in changes.txt were in developer-speak and not for public consumption.

At some point

[2015-07-06 19:15] #8 closed, assigned to pixelzoom

[2015-07-06 19:24] jessegreenberg opened #10 "Should x location of robotic arm right be moved to HookesLawConstants?"
When a robotic arm is created, the right end is always at 3 meters,

[code]

Should the value 3 be moved to HooksLawConstants?  This would consolidate and clarify.  Right now, one needs to look into RoboticArm documentation to learn the magnitude of 3.

[2015-07-06 19:26] pixelzoom commented on #9
This pattern is bit of an experiment, trying to address a situation that we run into frequently in common code.

ParametricSpringNode is generalized for migration to scenery-phet, and will be used in other sims. It has many Properties.  Sims may want to set the default values of many of these Properties, but may only want to observe a few of them (i.e., only a few things are dynamic).  For example

[2015-07-06 19:32] pixelzoom commented on #10
3 is actually a default value for the option - perhaps confusing because it tends to be the same as the actual value.

The actual values are specified in the various system models (SingleSpringSystem, SeriesSystem, ParallelSystem) where they look like this:

[code]

@jessegreenberg Would it be less confusing if the defaults for left and right options in RoboticArm were set to something else?

[2015-07-06 19:35] pixelzoom commented on #10
In fact, it might be better to specify the actual values like this in the various system models:

[code]

Assuming the spring is initially at equilibrium, the distance from equilibrium to either the left wall or the robotic arm's 'right' should be the same.

[2015-07-06 19:44] jessegreenberg commented on #8
Ah, very interesting, thanks for the clarification.  I was aware of changes.txt, and observed it to be (mostly) empty in PhET sims, so this is helpful to know.  Thanks!

[2015-07-06 19:45] pixelzoom commented on #10
I made a few changes, see the commit immediately above.  Summary:

• In RoboticArm, set the defaults for options.left and options.right to something more generic (0 and 1 respectively)

• In system models, compute the value of options.right for RoboticArm, based on the assumption that the spring(s) are initially at equilibrium.

• Add an assertion that the spring(s) are initially at equilibrium (i

[2015-07-06 19:50] pixelzoom commented on #4
Good catch!  I've been checking i18n with long strings, but not short strings. The code-review checklist should be amended to include testing with short strings.  And this should be an easy fix in the sim.

[2015-07-06 19:52] pixelzoom commented on #4
I added this step to the code-review checklist at https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md

[2015-07-06 19:53] jessegreenberg opened #11 "Values in DisplacementVectorNode and ForceVectorNode could exist in a Panel"
The background rectangle in ForceVectorNode and DisplacementVectorNode is updated by

[code]

This could be handled directly by a panel.

This rectangle is also invisible to me on the view, I would not have known this rectangle existed if I did not observe it in the code.  Should this rectangle be more visible?

[2015-07-06 20:03] jessegreenberg opened #12 "Public function setPincersOpen could be moved to the inherit block"
The setPincersOpen() function in RoboticArmNode is declared as a public function inside the RoboticArmNode constructor. Should setPincersOpen() be added to the prototype through the inherit call?

[code]

[2015-07-06 20:04] pixelzoom commented on #4
Fixed by putting a VBox around the visibility and scene controls.  Screenshots below show layout in the "Intro" screen for English, short and long strings.  The "Systems" screen was fixed similarly. Assigning back to @jessegreenberg to review.

![screenshot_556](https://cloud.githubusercontent.com/assets/3046552/8531914/daccbe34-23e7-11e5-9c18-f115317bf315.png)
![screenshot_555](https://cloud.gith

[2015-07-06 20:09] pixelzoom commented on #11
The rectangle is intended to be translucent, and not visible most of the time.  It handles the case where a value is on top of some other user-interface component, making it difficult to read.

For example, here's the displacement (green) value as it overlaps the equilibrium line:

![screenshot_557](https://cloud.githubusercontent.com/assets/3046552/8531980/3d21eef6-23e8-11e5-9f5c-a3bed8de8e68.png

[2015-07-06 20:10] pixelzoom commented on #11
Assigning back to @jessegreenberg to see if this explanation is sufficient.

[2015-07-06 20:11] pixelzoom commented on #11
I also documented the purpose of the background:

[code]

[2015-07-06 20:22] pixelzoom commented on #12
My initial rationale for creating `setPincersOpen` in the constructor was that there will only be 4 instances of RoboticArmNode in the sim, so there is minimal size penalty for adding it in the constructor. And by adding it in the constructor, there were 4 fields (nodes) that could be kept private.  But I can see how this is confusing, so I've moved it to the prototype.

Back to @jessegreenberg fo

[2015-07-06 20:26] pixelzoom commented on #2
For the benefit of @ariel-phet and anyone else who wants to track status of this code review...

Open code-review issues:
https://github.com/phetsims/hookes-law/labels/code%20review

Closed code-review issues:
https://github.com/phetsims/hookes-law/issues?q=label%3A%22code+review%22+is%3Aclosed

[2015-07-06 21:42] jessegreenberg commented on #12
I see, that makes sense.  This looks great though, thanks!  Closing.

[2015-07-06 21:42] #12 closed, assigned to jessegreenberg

[2015-07-06 21:45] jessegreenberg commented on #11
This makes sense now, thanks for clarifying.  The documentation is helpful as well, thank you.  Closing.

[2015-07-06 21:45] #11 closed, assigned to jessegreenberg

[2015-07-06 21:56] jessegreenberg commented on #10
Looks great, thanks!  I think that computing the value in systems models clarifies a lot.  Closing.

[2015-07-06 21:56] #10 closed, assigned to jessegreenberg

[2015-07-06 22:03] jessegreenberg commented on #4
Looking great!  Closing.

[2015-07-06 22:03] #4 closed, assigned to jessegreenberg

[2015-07-07 03:19] jonathanolson commented on #3
CPU time is being taken up predominantly by computing bounds of the stroked part of the shape (which is redone every frame).

I'll probably add a flag to do bounds computation in a way that doesn't figure out the exact stroked bounds (which should be much faster), and possibly an option to not compute bounds at all (see https://github.com/phetsims/scenery/issues/433).

[2015-07-07 13:50] pixelzoom opened #13 "reduce coil radius as spring is stretched"
I'm creating this issue in case anyone wants to restore this feature in the future, perhaps when performance of baseline platforms or PhET APIs improves.  No action or assignment is required at this time.

As a real-world spring is stretched, the radius of its coil decreases. This feature was implemented in HookesLawSpringNode (a subtype of ParametricSpringNode), but it has a performance penalty:

[2015-07-07 13:52] pixelzoom commented on #3
@ariel-phet said via email:

[2015-07-07 14:05] pixelzoom commented on #13
The decision to drop this feature was made in https://github.com/phetsims/hookes-law/issues/3#issuecomment-118965909, where @arouinfar wrote:

[2015-07-07 17:49] jessegreenberg commented on #2
The remaining items on the code review checklist involve filling out the credits, adding the screenshot image, and some performance issues (for which a ticket already exists, #3).  Otherwise, I consider the code review to be completed.  Reassigning to @pixelzoom to complete the final TODOs.

[2015-07-08 17:29] pixelzoom opened #14 "create hookes-law-screenshot.png"
This is the screenshot that will appear on the website.

Assigning to @arouinfar to indicate what configuration of the sim should be shown. You can attach a  screenshot from any dev version to this issue, and I'll create the final screenshot based on the configuration shown.

[2015-07-08 17:30] pixelzoom opened #15 "add QA credits"
@ariel-phet please specify who should be listed in the QA credits for Hooke's Law.

[2015-07-08 17:31] pixelzoom commented on #2
The items not checked off are covered by these individual issues:

credits in main.js: https://github.com/phetsims/hookes-law/issues/15
hookes-law-screenshot.png: https://github.com/phetsims/hookes-law/issues/14
performance: https://github.com/phetsims/hookes-law/issues/3

So closing this issue. Thanks @jessegreenberg for doing the review.

[2015-07-08 17:31] #2 closed, assigned to pixelzoom

[2015-07-08 18:21] arouinfar commented on #14
Let's go with something like this, @pixelzoom.
![image](https://cloud.githubusercontent.com/assets/8419308/8578369/a869d528-256b-11e5-9202-3d7065a4a497.png)

[2015-07-08 18:50] ariel-phet commented on #15
Elise Morgan, Oliver Orejola, Brian Yoelin (I don't think steele will be testing this one as he is off for the rest of the summer)

[2015-07-08 19:08] jbphet commented on #9
I find this approach a little awkward.  My understanding is that the factory function is used to create the PropertySet so that clients don't have to create properties for things that don't need to change dynamically for their particular use case.  So why not just create this same PropertySet in the constructor and let the user specify the desired default configuration using fixed values in the op

[2015-07-08 19:12] pixelzoom commented on #9
We've discussed it before (most recently @jonathanolson and me) and have decided each time that it was awkward and probably not a good idea to overload options in this way.

[2015-07-08 19:13] pixelzoom commented on #9
I tried various approaches and this seemed to be the lesser of evils, not something that I like.

[2015-07-08 19:19] samreid commented on #9
Did you consider promoting the propertySet defaults to the main options instance and creating the property set from within the ParametricSpringNode constructor?  For instance, then the ParametricSpringNode constructor arguments would change from (propertySet, options) to (options).

[2015-07-08 19:24] pixelzoom commented on #9
Yes. I'll probably revert to that since it's more familiar.

[2015-07-08 19:42] jbphet commented on #9
Sounds good to me.

[2015-07-08 22:56] #15 closed, assigned to pixelzoom

[2015-07-08 23:26] pixelzoom commented on #9
@jessegreenberg @jbphet @samreid and anyone else who is interested...  PropertySet is now created in the constructor based on default values specified in options.  Run with "exp" query parameter to enable the "Experimental" screen test harness.

The PropertySet is currently an instance field, i.e.:

[code]

So accessing an individual Property looks like (e.g.) `springNode.propertySet.loopsProperty

[2015-07-08 23:29] pixelzoom opened #16 "migrate ParametricSpringNode to scenery-phet"
... along with its test harness (the experimental/ subdirectory), which will probably become a screen in the scenery-phet demo app.

[2015-07-08 23:33] pixelzoom commented on #16
For anyone who has an opinion...

ParametricSpringNode has an extensive test screen, see hookes-law with "exp" query parameter ("Experimental" screen).  I'm sure this test screen will be useful in the future, so I'd like to move it to scenery-phet with ParametricSpringNode.  If I add it as a screen to the scenery-phet demo, it will be the demo's 4th screen, and is something that can be built and d

[2015-07-08 23:46] samreid commented on #9
@jonathanolson & @samreid previously discussed an axon feature that would add a property to an instance along with its es5 get/set.  It looks like this was implemented in https://github.com/phetsims/axon/issues/42 and available as Property.addProperty which looks like:

[code]

What do you think of that as an intermediate solution?

[2015-07-08 23:48] samreid commented on #16
It could be some work to extend our build process to handle multiple html files.  Since I don't want to engage in that work now (and I don't want ParametricSpringNode's test to be a separate repo), perhaps a 4th screen would be best for now.

[2015-07-08 23:54] pixelzoom commented on #9
I see zero usages of `Property.addProperty`.  So I'm not wild about being the guinea pig.  I would probably opt for adding the 8 calls to `new Property`.

[2015-07-08 23:59] samreid commented on #9
I also see 0 usages and do not want you to have to guinea pig this.  @jonathanolson looks like the developer lead on this, not sure if he developed it for a specific case or not.  However, having lots of xProperty without get x() and set x() could be confusing, which is why I originally suggested this strategy.  Let's discuss further.

[2015-07-09 00:08] pixelzoom commented on #9
I'm not too concerned about the lack of ES5 get/set, because I typically use the `someObject.someProperty.get` and `someObject.someProperty.set` forms - imo easier to search for, and easier to see when you're dealing with a Property.  But I realized that others prefer the syntactic sugar of get/set.

[2015-07-09 00:10] pixelzoom commented on #16
I'm going to hold off on migration to scenery-phet until the optimizations in #3 are completed.

[2015-07-09 00:14] pixelzoom commented on #9
@samreid If you had a choice between:

(a) `springNode.properties.loop = value;`
(b) `springNode.loopProperty.set( value );` or `springNode.loopProperty.value = value;`

which would you prefer?

[2015-07-09 00:14] samreid commented on #9
It's not just syntactic sugar, it's having a consistent API for our simulations at different levels.  Imagine if you had to remember which scenery/sun/simulation classes should do:

[code]

and which required:

[code]

I used `top` purposefully to demonstrate the convention in scenery.

Or alternatively if you wanted to set a scenery property on line 87 then a ParametricSpringNode-specific propert

[2015-07-09 00:15] pixelzoom commented on #9
`myObject.topProperty.set(7);` is in fact the common denominator of all the various ways that you can currently create a Property.  Which is why I use it.

[2015-07-09 00:16] pixelzoom commented on #9
And `myObject.top=7;` gives me no indication when reading code that I'm dealing with a Property assignment that will result in side effects.

[2015-07-09 00:36] pixelzoom commented on #9
Not to belabor the point... But having one syntax (e.g. `myObject.top=7`) that is in fact something different depending on the type of `top` is in no way a consistent API.  Yes the syntax is consistent in that it's the same. But the behavior is different, and the difference is hidden by the syntax.  If you wanted a consistent API for dealing with Property, there would be one consistent way of sett

[2015-07-09 00:51] samreid commented on #9
Perhaps good to discuss at an upcoming developer meeting, I'll add it to tomorrow's agenda.  It would be good to hear from @jonathanolson why he introduced Property.addProperty.

But nit-picking notes above:

In Spring.js you are using the ES5 set strategy for the applied force:

[code]

In this case you could have used property set method like so: `thisSpring.appliedForceProperty.set(springConsta

[2015-07-09 16:17] pixelzoom commented on #9
I was experimenting with how I felt about using the format `this.appliedForce = ...` where `this` is the PropertySet (in this case Spring constructor) that creates appliedForceProperty.  A problem I've run into repeatedly with using `thisSpring.appliedForce = ...` is when the method of creating appliedForceProperty changes and call sites then (silently) break.  For example, `mySpring.appliedForce

[2015-07-09 16:27] pixelzoom commented on #9
I also find it inconsistent that I can do assignment like this:

`spring.loops = 5;`

...but can't use the same syntax for other operations. Eg, none of these work:

[code]

Other operation must be done like this (using the same example):

[code]

[2015-07-09 16:28] pixelzoom commented on #9
I also find it inconsistent that I can do assignment like this:

`spring.loops = 5;`

...but can't use the same syntax for other operations. Eg, this doesn't work:

`spring.loops.link( ... );`

It must be done using one of these forms:

[code]

[2015-07-09 16:54] samreid commented on #9
Right, this wouldn't work if you created it with `new Property` but I think this is what Property.addProperty was meant to solve.

Are you suggesting it would be more consistent to make calls like this?

[code]

So that everything goes through the loopsProperty?

There is actually an alternative to the 2 options you mentioned above (declared in PropertySet.js), but it still inconsistent with the e

[2015-07-09 19:37] samreid commented on #9
At today's meeting after @pixelzoom was gone, @jonathanolson pointed out that he is investigating a pattern like the one brainstormed above in Text.js to reduce boilerplate but to leave get/set methods and es5 get/set.  See Text.js, copied here for discussion:

[code]

[2015-07-10 01:30] jonathanolson commented on #9
Also a somewhat similar pattern in Kite:

[code]

[2015-07-10 03:35] samreid commented on #9
How long has this been in production in Kite?  Are there any other disadvantages other than making it difficult to search for getX setX methods (where X is a camelcased string)?

[2015-07-10 14:58] jonathanolson commented on #9
The Kite example is just as of a few days ago.

The main disadvantages are searchability, and potentially a minor performance hit depending on optimization (using `this[ name ]` instead of `this.start` in the closure may have a more indirect lookup, and the closure might have its own overhead).

[2015-07-10 19:50] pixelzoom commented on #9
Given that refactoring JavaScript involved primarily search-&-replace, I consider this to be a huge disadvantage.

[2015-07-10 19:55] pixelzoom commented on #16
... and until API changes in https://github.com/phetsims/hookes-law/issues/9 are completed.

[2015-07-10 19:58] pixelzoom commented on #9
Proposal:

One of these options:

(A)
• Replace the PropertySet in ParametricSpringNode constructor with individual axon.Property instances.
• Use `springNode.loopsProperty` syntax in client code (as in hookes-law, currently the only client)
• Revisit in the future if someone finds they can't live without `springNode.loops` syntax.

(B)
• Leave as is, with support for springNode.propertySet.loopsP

[2015-07-10 20:00] pixelzoom commented on #9
... or leave as is, with support for `springNode.propertySet.loopsProperty` and `springNode.propertySet.loops`.

[2015-07-10 20:01] pixelzoom commented on #9
@jbphet since you reviewed this and found the pattern awkward, it would be nice if you could weigh in on the alternatives proposed,

[2015-07-10 21:01] jonathanolson commented on #9
For my purposes, it seems much easier to make modifications in one place, instead of the more error-prone "search for all the places that need to be changed, and hope none are missed".

It would also be possible to still have the 4-methods-per-property boilerplate for searchability, but have those forward to a shared implementation.

If the shortcut is used 20 times, it could cut down 300 lines of

[2015-07-10 21:55] pixelzoom commented on #9
If you want to add a utility function for addInvalidatingGetterSetter, go for it.  But I'm not going to be the guinea pig here.

Feedback on proposal (https://github.com/phetsims/hookes-law/issues/9#issuecomment-120507909) please?

[2015-07-10 22:45] samreid commented on #9
An alternative to https://github.com/phetsims/hookes-law/issues/9#issuecomment-120508151, but instead of propertySet, call it model or springModel, which would support:

[code]

[2015-07-10 22:48] jonathanolson commented on #9
What about using PropertySet.addProperty() for this? E.g.:

[code]

Also I recall discussing supporting being able to pass a direct value OR a property, so is options.loops sometimes a Property itself?

[2015-07-10 22:56] samreid commented on #9
We're going to need more guinea pigs, stat. :hamster:  :hamster: :hamster:

[2015-07-13 21:31] pixelzoom commented on #9
@jonathanolson asked:

How does that avoid having to use the `springNode.propertySet.loopsProperty` syntax? The point is that we want to avoid having `springNode.propertySet` and access properties directly via `springNode.XXX`, where `XXX` is one of the many ways to access a Property.

[2015-07-14 00:46] samreid commented on #9
Property.addProperty would make the loops a property of the springNode. Then you could do:

[code]

[2015-07-14 05:17] jonathanolson commented on #3
After using boundsMethod:'unstroked', notes about Chrome desktop performance (relative numbers important):

[code]

[2015-07-14 05:24] jonathanolson commented on #3
On desktop, looks like the multilink is typically being called twice per frame while I drag (it's unnecessarily doing twice the work, since only the last update before the next animation frame is displayed):

![hookes-law-parametric-1](https://cloud.githubusercontent.com/assets/480878/8666990/40d1b0b2-29b6-11e5-85ed-f5f9c843b866.PNG)

For this type of thing, I'd recommend attempting to update it o

[2015-07-14 05:29] jonathanolson commented on #3
boundsMethod: 'none' instead of 'unstroked' could have a speed-up, since presumably we could calculate the approximate width based on just the inputs to the spring shape.

On Chrome, profiling information notes that this probably isn't the biggest bottleneck however.

Updating to iOS 8.4, will test on the iPad 3.

[2015-07-14 05:35] jonathanolson commented on #3
Bottom-up profiling reveals Events.trigger0 to be the biggest contributor to CPU by 2x (next closest is lineToPoint itself).

Second is kite.svgNumber. I'll potentially look into getting direct function references for each file, instead of requiring the kite.X lookup every time.

[2015-07-14 07:22] jonathanolson commented on #3
Profiling from the iPad (using the web inspector from Safari, weinre/Valence/etc. were insufficient for profiling information):

Most expensive codepath to inner loop (there seem to be 2 different paths to the inner loop):

[code]

Note that this is just the first screen, moving the single hook.

[2015-07-14 07:25] jonathanolson commented on #3
Also a note to others about how annoying profiling with Safari can be. Here's the call tree (flattened because there is a width limit, so you can't see the tree structure):
![screen shot 2015-07-14 at 12 44 49 am](https://cloud.githubusercontent.com/assets/480878/8668302/e8320086-29c6-11e5-8ade-9bb599803af3.png)

This is only for one "Record", specifically one touchmove. It looks like the animatio

[2015-07-14 07:39] jonathanolson commented on #3
My first proposed change is to not compute the bounds of the coil (use boundsMethod: 'none'), and my  guess is that would have about a 35% speedup in execution time over boundsMethod: 'unstroked', which itself seemed to have been at least 2x faster than boundsMethod: 'accurate' (the default and latest dev version). For layout, instead of using the bounds, compute how big the spring will be.

My se

[2015-07-14 17:17] pixelzoom commented on #9
7/14/15 dev meeting notes:

Best option: Be the guinea pig for `Property.addProperty` (spend 30 minutes or so)

Fallback: Rename `this.propertySet` to `this.model`

[2015-07-14 17:57] pixelzoom commented on #3
7/14/15 call with @jonathanolson

(1) I'll use `boundsMethod: 'none'` and change layout of springs to use only `x` and `y` options.

(2) jonathan will add `Shape.invalidatePoints`.  The number of points remains constant for the springs, so I'll store Vector2[], mutate them, and call `Shape.invalidatePoints`.  Do this once per frame.

(3) Add a guard so that `multilink` is called once per frame (se

[2015-07-14 19:30] jonathanolson commented on #3
Kite/Scenery parts completed, feel free to assign me for further iPad 3 testing.

[2015-07-14 20:25] pixelzoom commented on #9
I tried the Property.addProperty approach. After 1 bug fix (https://github.com/phetsims/axon/commit/579f8c660b519d9381e4e85833702eb7d370a733) it seemed to work ok.  But a major downside is that we lose support for resetting a set of Properties.

With PropertySet, ParametricSpringNode.reset looks like this:

[code]

With Property.addProperty, it becomes:

[code]

(a) Yuck.

(b) This presents a main

[2015-07-14 20:28] pixelzoom commented on #9
Fallback plan implemented. Closing.

[2015-07-14 20:28] #9 closed, assigned to pixelzoom

[2015-07-14 21:59] pixelzoom commented on #3
More stuff I'll need to do:

• Rewrite some of HookesLawIconFactory, which relies on accurate bounds of the springNode. For example, on my first attempt at using boundsMethod:'none', createIntroScreenIcon was failing an assertion in Node with "x not finite".

• Figure out how to accurately attach the right spring to the left spring in SeriesSystemNode.

[2015-07-14 23:56] ariel-phet commented on #3
One comment...if buttery smooth on iPad2 and a little sluggish on iPad 3, no need to optimize further (we can accept sluggishness on iPad 3)

[2015-07-15 00:43] pixelzoom opened #17 ""look" of the rectangles that spring and robotic arm are attached to"
The spring and robotic arm are attached to fixed rectangles (WallNode in the code).

Their fill is currently rgb(210,210,210).

Their dimensions are 25x170 in the single-spring and series systems, 25x300 in the parallel system. At this point it is highly recommended that we stick with these dimensions, so that layout doesn't need to be revisited.

Ideally the look would be something that is easy t

[2015-07-15 00:58] pixelzoom commented on #3
Roger. Butter ok on iPad2, molasses OK on iPad3.

[2015-07-16 17:47] pixelzoom commented on #17
We (@arouinfar, @ariel-phet and I) played around with this on 7/16/15.  This email summarizes what we did:

---

Amy, Ariel,

Here’s a version with changes to the walls and robotic arm:

http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.25/hookes-law_en.html

Summary of changes:
• walls have a pseudo-3D bevel
• walls are a darker shade of gray
• robotic arm has a gradient that mak

[2015-07-16 19:31] pixelzoom commented on #17
@ariel-phet said it's OK to take the robotic arm's bar out of the screen icons.

[2015-07-17 07:27] arouinfar commented on #17
I think the updated robotic arm looks great! Thanks @pixelzoom.

[2015-08-03 21:14] pixelzoom commented on #17
@ariel-phet @arouinfar What is the status of this?

[2015-08-03 21:23] ariel-phet commented on #17
@pixelzoom see https://github.com/phetsims/tasks/issues/288

Looks like something you can draw in code, and it works for me. Feel free to adjust sizes as necessary to make everything work easily for you.

Also feel free to close the above issue once you have seen the basic look.

[2015-08-03 21:27] pixelzoom commented on #17
So to clarify...

"As is" for the box that the springs connect to.

Rectangle with no corner radius and vertical gradient for box that the arm disappears into.

Do I have that correct?

[2015-08-03 21:28] pixelzoom commented on #17
And should I guess at the gradient colors, or does someone have RGB values?

[2015-08-03 21:33] arouinfar commented on #17
Yes, that's correct @pixelzoom. There's also a small red rectangle next to the gray rectangle with the vertical gradient that the arm disappears into. The main color of the rectangle with the gradient should match the robotic arm. I do not have RGB values for the gradient itself.

[2015-08-03 22:04] pixelzoom commented on #17
Change request implemented in
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.26/hookes-law_en.html

Assigning to @arouinfar for verification.

[2015-08-03 22:10] pixelzoom commented on #17
Here's a screenshot for 1.0.0-dev.26.

![screenshot_565](https://cloud.githubusercontent.com/assets/3046552/9048925/222dd9ca-39fa-11e5-8573-c5fd96b49a9d.png)

[2015-08-03 22:40] arouinfar commented on #17
Looks good, except for the "adapted from PhET" in the nav bar.

[2015-08-03 23:48] pixelzoom commented on #17
"Adapted from PhET" in the menu bar has nothing to do with this issue. It's the new default unless the sim is explicitly built with the PhET brand.  There will be a way to ensure that the PhET brand is the default for dev versions, but that work (being done by @samreid) is not completed yet.

Closing.

[2015-08-03 23:48] #17 closed, assigned to pixelzoom

[2015-08-11 05:37] samreid opened #18 "Assertion failed: Exit events not matched by an enter"
Most likely a scenery issue but I saw this in Hooke's Law so I'll report here first.  With the dev tools open, if I open the Systems screen and move the slider, then mouse out and back in, I see this problem.  It happened 2-3 times in a row so I thought I should report it:

![image](https://cloud.githubusercontent.com/assets/679486/9190903/659c9ed0-3fb8-11e5-832e-fd926e3e670c.png)

I'll reassign t

[2015-08-11 05:39] samreid commented on #18
This error happened again on the next run (4th run) but not the following 2 runs.

[2015-08-11 17:34] pixelzoom commented on #18
Thanks for reproducing this. I've seen it a few times (over the past few months?). I couldn't reproduce it, so assumed (perhaps incorrectly) that it was transient Chrome problem.  No idea what the cause is, so assigning to @jonathanolson.  If this is indeed a scenery issue, then it's probably high priority.

[2015-08-12 18:29] pixelzoom commented on #3
I've completed the first major optimization, that is using `boundsMethod: 'none'` for the scenery Paths that make up ParametricSpringNode.

Here's a dev version that uses `boundsMethod: 'none'`:
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.27/hookes-law_en.html

Compare to the previous dev version, which used `boundsMethod: 'accurate'`:
http://www.colorado.edu/physics/phet/de

[2015-08-12 18:30] pixelzoom commented on #3
Also interested in @jonathanolson's feedback on https://github.com/phetsims/hookes-law/issues/3#issuecomment-130403215.

[2015-08-12 18:36] pixelzoom commented on #3
Also interested in @jonathanolson's feedback on #3 (comment). And if you could profile again as you did above, that would be appreciated.  I'm interested to see if we really got a >2x speed up by using `boundMethod: 'none'`.

[2015-08-12 18:40] pixelzoom commented on #18
@samreid There's no URL shown in your screenshot, and you didn't mention how you were running the sim.  But I'm assuming you were running with assertions enabled (?ea), correct?

[2015-08-12 18:43] samreid commented on #18
Yes, ?ea

[2015-08-12 18:44] samreid commented on #18
You can see that it says enabling assert in the console

[2015-08-12 19:09] pixelzoom commented on #3
Skype conversation with @jonathanolson:

So I think I should investigate why the callback to ParametricSpringNode.multilink is being called multiple times per animation frame.

[2015-08-12 23:54] ariel-phet opened #19 "robotic arm resizes when interacting (Firefox Win7)"
When I try interacting with the robot arm (clicking and moving back and forth) the box from which the arm is coming out of appears to grow and shrink slightly. Does not happen on chrome.

Test device: Dell Desktop

Operating System: Win 7

Browser: FF 40.0

Problem description:

Steps to reproduce:

Severity:

Screenshots:

Troubleshooting information (do not edit):
Name: ‪Hooke's Law‬
URL: http:/

[2015-08-13 00:00] pixelzoom commented on #19
Reminder to self: Have @ariel-phet demonstrate this to me at tomorrow's status meeting.

[2015-08-13 00:06] pixelzoom commented on #19
I tested with FF 36.0 on Mac OS X 10.10.4 and saw no problem.  Then I upgrade to FF 40.0.  I didn't see the problem that @ariel-phet described, but found this new issue: https://github.com/phetsims/scenery/issues/451.

[2015-08-13 00:09] pixelzoom commented on #19
Similar odd lines in the cuvette (Cuvette.js) in the "Beer's Law" screen of beers-law-lab. FF 40.0 on Mac OS 10.10.4, running with master in requirejs mode.

![screenshot_66](https://cloud.githubusercontent.com/assets/3046552/9239875/41564722-411d-11e5-9bea-93ce19d3c9b9.png)

[2015-08-13 02:59] arouinfar commented on #3
@pixelzoom I don't notice a difference in responsiveness on my Mac. I've been working remotely the last few days (out sick) so I don't have access to an iPad to test on. Perhaps @ariel-phet can take a look at this on iPad tomorrow.

[2015-08-13 03:23] pixelzoom commented on #3
@arouinfar Unlikely that you'd notice much of a difference on a desktop computer, where the sim was already quite snappy.

[2015-08-13 04:25] ariel-phet opened #20 "Slight points at the top an bottom of spring when thickest"
If you look carefully at the spring when set to the highest spring constant on the intro screen there are some sharp points at the top and bottom.

To my eye it looks as though these are occurring because of the way the front and back are overlapping (or perhaps the way the gradient is applied?). Not a huge deal, and not sure if much can be done about this issue but seems worth a bit of tweaking/i

[2015-08-13 05:34] jonathanolson commented on #3
Will plan to test tomorrow with better access to devices.

[2015-08-13 06:04] jonathanolson commented on #18
I've spent about 15-20 minutes trying to reproduce across platforms (I have OS X 10.9.5, maybe that is a difference), for OS X, Windows and all browsers, and I haven't been able to cause it.

Any more detail on:

Mouse out (of window?)

[2015-08-13 14:27] samreid commented on #18
I tested with the built and non-built versions of hookes law and could not reproduce the problem again.

[2015-08-13 14:27] samreid commented on #18
Not sure what else I can do here, I'll send it back to @pixelzoom to decide what's next, if anything.

[2015-08-13 16:10] pixelzoom commented on #20
Most certainly due to lineCap:'square', with is desirable for the horizontal ends of the spring.  Investigate separate paths for the ends, and use lineCap:'round' for the coil.

[2015-08-13 16:44] pixelzoom commented on #18
Hmmm... Now I can't reproduce reliably either.  But I have seen this repeatedly with hookes-law and other sims over the past few months.  So I'm hesitant to just close this as "cannot reproduce".

Searching for the error message, this assertion comes from `scenery.ButtonListener`, line 104:

`assert && assert( this._overCount > 0, 'Exit events not matched by an enter' );`

@jonathanolson Does that

[2015-08-13 16:53] pixelzoom commented on #19
@ariel-phet couldn't reproduce this with FF 40.0 on Win 8.

[2015-08-13 17:13] pixelzoom commented on #19
I reproduced this with FF 35.0 + Win 7 on VMWare.  Checking through old dev versions, it's first reproducible in 1.0.0-dev.25 (7/16/2015).

After upgrading to FF 40.0, I can't reproduce the problem. But a new problem occurs - while dragging the "hand" or sliders,  the horizontal piece of the arm (as it changes length) shifts up slightly and it's top edge get fuzzy.

[2015-08-13 17:26] pixelzoom commented on #19
The problem is resolution dependent. After resizing the browser window, I was able to reproduce what @ariel-phet described on FF 44.0 + Win 7, as well as the issue mentioned immediately above.

According to @jonathanolson, these problems are caused by a known issue: FF uses lower quality rendering while things are moving (see phetsims/scenery#47).

As a workaround, try using renderer:'canvas' for

[2015-08-13 20:39] pixelzoom commented on #3
Since this is going to be migrate to scenery-phet (#16), I recommend implementing optimization (2) (see https://github.com/phetsims/hookes-law/issues/3#issuecomment-121323611) now.

[2015-08-13 21:24] jonathanolson commented on #18
Yes, it would generally indicate an inconsistent state for input handling. It could be either a browser issue or Scenery issue.

It's the type of bug where it would be very helpful to record Scenery input events so that we could play back the failing sequence once recorded.

[2015-08-13 21:24] pixelzoom commented on #20
Set lineCap:'round'.  Using separate paths for the horizontal ends was too much work, and made it difficult to get the gradient fill correct.  Screenshot from "Experimental" screen below.

![screenshot_573](https://cloud.githubusercontent.com/assets/3046552/9262089/987b9748-41cf-11e5-971c-7b229e168a65.png)

Closing.

[2015-08-13 21:26] pixelzoom commented on #20
Guess I should get @ariel-phet's approval of this before closing. Look OK?

[2015-08-13 21:27] pixelzoom commented on #20
Guess I should get @ariel-phet's approval of this before closing. Look OK? Note that the extreme left and right ends are now rounded, instead of squared off.

[2015-08-13 21:45] ariel-phet commented on #20
@pixelzoom - looking good. One tweak...could you layer the left hand side of the spring under the "wall" (so it looks like it is going into the wall)

[2015-08-13 22:15] pixelzoom commented on #20
Left-hand side of springs moved under the "walls" in all screens. Closing.

[2015-08-13 22:15] #20 closed, assigned to ariel-phet

[2015-08-13 22:16] pixelzoom commented on #20
For example:

![screenshot_576](https://cloud.githubusercontent.com/assets/3046552/9263005/a6f0c044-41d6-11e5-9cec-0107de737f4b.png)

[2015-08-13 22:55] ariel-phet commented on #20
Looks great Closing

[2015-08-14 02:10] samreid commented on #18
In my case, I was mousing out to the dev tools, not out of the entire browser.  Not sure if that was a critical ingredient or not.

[2015-08-14 02:49] jonathanolson commented on #18
That's what I was testing. Just tried it out a few more times on OS X / Win, and still wasn't able to reproduce. If we can reproduce even somewhat regularly, I think it would be useful to log all input events.

I'll leave assigned to me, and look more into bringing Scenery event recording back up-to-date.

[2015-08-14 04:29] jonathanolson commented on #18
Pulling latest. If you're able to reproduce, please do the following:
1. In 'chronicle', npm install
2. In 'chronicle', node js/server.js
3. Run sim with ?recordInputEventLog&ea
4. If assertion is hit, resume, interact just a bit more, then close the sim browser tab (it uses a websocket, but the message won't be hit right when the debugger pauses it).
5. Check chronicle/data for a .txt file, and g

[2015-08-14 23:07] jonathanolson commented on #3
Tested, CPU is mostly involved with the Kite overhead, I believe optimization (2) should be the most helpful.

[2015-08-18 21:33] pixelzoom commented on #18
I've been playing around with the sim, but can't reproduce the problem. Mac OS X 10.10.5, Chrome 4.0.2403.155 (64 bit).

@samreid you said:

Do you recall if you moved into the dev tools window with the mouse still down on the slider? Or did you release the mouse in the browser window, then move the mouse (still up) into the dev tools window?

[2015-08-18 22:00] pixelzoom commented on #3
Playing around with optimization (2), mutating vectors...

Here's the signature of the multilink callback for the various Properties:

`function( loops, radius, aspectRatio, pointsPerLoop, phase, deltaPhase, xScale ) {`

It's only possible to mutate vectors if loops, pointsPerLoop, phase and deltaPhase remain constant. If loops or pointsPerLoop change, then the number of vectors changes. If phase

[2015-08-18 22:08] samreid commented on #18
I believe the mouse was up, but, like I said in https://github.com/phetsims/hookes-law/issues/18#issuecomment-130695248 I can no longer reproduce the problem.

[2015-08-24 15:16] pixelzoom commented on #18
As I mentioned in https://github.com/phetsims/hookes-law/issues/18#issuecomment-130754603, this assertion is occurring in `scenery.ButtonListener`.  So it seems like we should be able to isolate it, or at least hypothesize about what's causing it.  But I've been unable to reproduce it, and I haven't heard any thoughts about how this might be related to `scenery.ButtonListener`.  So I'm going to un

[2015-08-24 15:24] pixelzoom commented on #18
This is a general issue, moved to https://github.com/phetsims/scenery/issues/456.

[2015-08-24 15:24] #18 closed, assigned to nobody

[2015-08-25 20:44] pixelzoom opened #21 "odd horizontal and vertical lines in robotic arm (Firefox Mac)"
Observed on FF 44.0 on Mac OS X 10.10.5.
General issues is https://github.com/phetsims/scenery/issues/451
Workaround is to use `renderer: 'canvas'`.

Screenshot:

![screenshot_65](https://cloud.githubusercontent.com/assets/3046552/9239954/4585daa0-411e-11e5-9efe-480a85786329.png)

[2015-08-25 20:48] pixelzoom commented on #21
Switching to `renderer: 'canvas'` is perhaps even worse. The lines go away, but the arm and right "wall" jiggle like crazy while dragging the hand.

[2015-08-25 20:51] pixelzoom commented on #19
I experimented with `renderer:'canvas'` for RoboticArmNode, and it does indeed eliminate this problem. But it creates a new problem (https://github.com/phetsims/hookes-law/issues/21#issuecomment-134735734): The arm and right "wall" jiggle like crazy while dragging the hand.

[2015-08-25 20:52] pixelzoom commented on #19
I experimented with `renderer:'canvas'` for RoboticArmNode, and it does indeed eliminate this problem.

But 2 things:

(1) It creates a new problem (https://github.com/phetsims/hookes-law/issues/21#issuecomment-134735734): The arm and right "wall" jiggle like crazy while dragging the hand.

(2) I don't know what impact it has on the structure (and performance) of the HTML document.

[2015-08-25 21:08] pixelzoom commented on #19
@ariel-phet Working around this on FF+Win7 causes a problem that's even worse on FF+Mac (see https://github.com/phetsims/hookes-law/issues/21#issuecomment-134735734).

This issue is not specific to hookes-law.  So my recommendation is live with it for the 1.0.0 release, close this issue, continue track it in https://github.com/phetsims/scenery/issues/47, and (if it's really important) focus on sub

[2015-08-25 21:11] pixelzoom commented on #21
Similar to (and related to) my comment in https://github.com/phetsims/hookes-law/issues/19#issuecomment-134742516...

@ariel-phet Working around this on causes a problem that's even worse, described above (https://github.com/phetsims/hookes-law/issues/21#issuecomment-134735734).

This issue is not specific to hookes-law. So my recommendation is live with it for the 1.0.0 release, close this issue,

[2015-08-27 21:37] pixelzoom commented on #21
@ariel-phet Asked me to close this a 'won't fix'.  @jonathanolson reports that Mozilla has been very responsive to the bug report files in phetsims/scenery#451.  So we'll wait for Mozilla to fix this on their end.

[2015-08-27 21:37] #21 closed, assigned to ariel-phet

[2015-08-27 21:37] pixelzoom commented on #19
@ariel-phet asked me to close this as 'won't fix'.  We'll wait for Mozilla to fix.

[2015-08-27 21:37] #19 closed, assigned to ariel-phet

[2015-08-28 19:17] pixelzoom commented on #14
The process for creating this screenshot is described in the "Steps to publish a public version" section of
https://github.com/phetsims/phet-info/blob/master/sim_deployment.md

Since I don't have a retina iPad, looks like I can't do this.

[2015-09-01 13:57] pixelzoom commented on #3
Here's a dev version that mutates vectors (optimization 2 above):
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.28/hookes-law_en.html

Compare to previous dev version:
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.27/hookes-law_en.html

The latest version is noticeably snappier, more responsive feeling. I'm satisfied with this.

@ariel-phet Do you want to

[2015-09-01 14:08] ariel-phet commented on #3
@pixelzoom - I should be near an ipad later today, I will look at it then, but I am guessing that if you are satisfied it will be great.

[2015-09-01 15:58] pixelzoom commented on #16
API changes in #9 are done, optimization in #3 are done. Time to migrate.

[2015-09-01 16:00] samreid commented on #14
I'll take a look.

[2015-09-01 16:38] samreid commented on #14
I added the screenshot above.  Please review:
- the name
- the location
- the image dimensions
- the image content

Let me know if there is anything else I should do here.

[2015-09-01 17:02] pixelzoom commented on #14
Everything looks great. Thanks @samreid! Closing.

[2015-09-01 17:02] #14 closed, assigned to pixelzoom

[2015-09-01 17:25] pixelzoom commented on #16
This is done.  In addition to migrating ParametricSpringNode to scenery-phet, I also migrated NumberControl and NumberDisplay because (a) they seem to be generally useful, and (b) they are used extensively in the demo for ParametricSpringNode.

 The demo for ParametricSpringNode is now the "Spring" screen in the scenery-phet demo.

NumberControl was added to the "Sliders" screen of the scenery-phe

[2015-09-01 17:28] pixelzoom commented on #16
All of this code was previously reviewed as part of https://github.com/phetsims/hookes-law/issues/2. There was general agreement (see above) that the ParametricSpringNode demo would be added as a 4th screen in the scenery-phet demo. And migration of NumberDisplay and NumberControl was OK'ed during a Skype conversation.  So I'm going to go ahead and close this issue. If anyone wants to take a peek,

[2015-09-01 17:28] #16 closed, assigned to pixelzoom

[2015-09-02 02:51] ariel-phet commented on #3
Tested on iPad2, looks awesome. Closing

[2015-09-02 02:51] #3 closed, assigned to ariel-phet

[2015-09-03 01:11] elisemorgan opened #22 "Overlap with extreme stringTest"
Test device: Mac

Operating System: 10.8.5

Browser: Safari 6.2.6

Problem description: Parts of the layout overlap in the Intro screen when the Extremely Long String test is performed.

Steps to reproduce: Run Long string. Go to Intro screen and select to display two springs.

Severity:

Screenshots:
![screen shot 2015-09-02 at 7 06 00 pm](https://cloud.githubusercontent.com/assets/12610678/96484

[2015-09-03 23:16] pixelzoom commented on #22
@ariel-phet Perhaps I'm not clear on the requirements for i18n testing. I thought the requirement was to make sure the layout looked OK for 'stringTest=double', which I believe it does. This particular case is very unlikely, but I guess you want me to spend time on it, since you assigned it to me.

[2015-09-04 01:52] ariel-phet commented on #22
@pixelzoom - I think for i18n testing @samreid had suggested the "extremely long string test to see if anything was not revealed" much like the extremely short string test. Shouldn't things scale down if the strings get very long, or at least not cause this odd overlap?

Happy to punt if you think it is not worth it.

[2015-09-04 16:45] elisemorgan opened #23 "Pincher does not release when dragged to 0"
Test device: iPad 2

Operating System: iOS 8.3

Browser: safari

Problem description: When the slider is dragged or clicked to F=0, the pincher will release the spring. However if you drag the pincher to the 0 position, it does not release. This seems inconsistent.

Steps to reproduce: return pincher to f=0 by dragging the pitcher itself. Release pincher.

Severity:

Screenshots:
![image](https://

[2015-09-04 16:47] ariel-phet commented on #23
@elisemorgan - this was a conscious design decision. If you are still in contact with the slider/arm and bring it to zero it still grips. This would be like you holding the spring with your hand but applying no force. We noticed that if you drag through zero and it released it felt odd an unnatural.

[2015-09-04 16:47] ariel-phet commented on #23
@arouinfar - it would be good to note the reasons for this decision in the teacher tips.

[2015-09-04 17:10] pixelzoom commented on #22
This is a general problem with PhET's current methodology of applying the 'stringTest' query parameter to all strings, as detailed in https://github.com/phetsims/chipper/issues/336.

In the case reported here, value readouts like '0 N' are converted to extremely long strings. That will _never_ happen, and isn't something we should have to address in layout code.  But the way that the stringTest qu

[2015-09-04 17:27] arouinfar commented on #23
Will do @ariel-phet!

[2015-09-05 01:31] samreid commented on #22
Perhaps stringTest=double is a better standard for testing?

[2015-09-05 21:53] pixelzoom commented on #22
That's what I thought the standard was, see https://github.com/phetsims/hookes-law/issues/22#issuecomment-137599016.

To be discussed in phetsims/chipper#336.

Re-closing this issue.

[2015-09-05 21:53] #22 closed, assigned to pixelzoom

[2015-09-08 15:18] pixelzoom opened #24 "check visibility of lines in classroom situations"
From @patricialoeblein via email:

One potential improvement: I don’t have an interactive board anymore, but I wonder if you have been able to check the boldness for the lines and displacement vector displaced on an interactive board and viewed from the back row of a classroom. Remember that these boards absorb a significant amount of light energy. I think that the displacement is bold enough, but

[2015-09-08 19:06] patricialoeblein commented on #24
(Thanks for making the issue Chris.) The lines to which I am referring are on the energy scene. The potential energy (blue) and applied force (red) lines. Also, the green displacement indicator  on the x axis of those graphs looks more thin than the vector representation; I think if it matched the displacement vector the relationship would be more strong.

[2015-09-08 19:28] arouinfar commented on #24
Thanks for your feedback @patricialoeblein, and thanks for creating the issue @pixelzoom. One possible solution would be to increase the stroke weights by 1pt. I will take a look at this sim on the projector, and also discuss this issue with @ariel-phet when I see him tomorrow.

[2015-09-08 19:49] pixelzoom commented on #24
The green displacement vector and the green line on the x-axis of the graphs do in fact have the same line width (3).

FYI... Here are the line widths used for the graphs:

All graphs:
• x & y axes = 1
• tick marks = 1
• leader (dashed) lines = 1 (shown when "Values" is checked)
• displacement (green) line = 3

Energy XY plot:
• energy (blue) parabola = 2

Force XY plot:
• force (red) line =2

Pot

[2015-09-08 19:53] arouinfar commented on #24
Thanks for the screenshots @pixelzoom! I agree that increasing the Force and Energy curves to 3pt would be a good start.

[2015-09-08 20:07] pixelzoom commented on #24
OK, I'll commit lineWidth=3 for the force and energy curves.

[2015-09-08 20:54] patricialoeblein commented on #24
I thought maybe the displacement vector and line were the same size, but couldn't figure out a good way to check. I imagine the black axis line makes the green line appear different that on a white background. The new images with the width of of 3 for the curves look good. Maybe now that all are the same size the displacement vector will be more notable too. Thanks for the changes.

[2015-09-08 20:56] patricialoeblein commented on #24
And for testing on an interactive white board - there have been discussions about PhET acquiring one, perhaps now that I no longer have a classroom, the need is more pressing?

[2015-09-08 20:59] pixelzoom commented on #24
That and the fact that the green line doesn't have an arrow head.

[2015-09-08 20:59] arouinfar commented on #24
@patricialoeblein As far as I know there isn't currently a discussion about acquiring an interactive white board, though maybe this is something we could bring up at a status meeting. My plan was to take the projector down to the cookie room and see what the sim looked like from the back of the room with the lights turned on.

[2015-09-08 21:00] pixelzoom commented on #24
Recommended to send the whiteboard issue to @kathy-phet as a topic for discussion at the next status meeting.

[2015-09-08 21:02] patricialoeblein commented on #24
My experience with using the projector in the cookie room is that it only somewhat indicates how a sim will look in a classroom. In a normal classroom, there is more light and also the distance from students is more great. A better test might be the lecture hall.

[2015-09-08 21:26] arouinfar commented on #24
@patricialoeblein not sure if I can access the lecture halls, but I can try.

Will do, @pixelzoom.

[2015-09-11 18:28] phet-steele opened #25 "Missing Arm"
While nosing around in this sim, I saw on the intro screen that switching from two arms to one, then back to two again quickly while the fade out animation is still occurring, the second arm doesn't come back:

![missing limb](https://cloud.githubusercontent.com/assets/5863899/9822880/3e0b2892-5880-11e5-8c30-f2c82ad6d97b.PNG)

Troubleshooting information (do not edit):
Name: ‪Hooke's Law‬
URL: htt

[2015-09-11 19:59] pixelzoom commented on #25
Reproduced on all platforms. Starting an animation while one is already running is apparently what's causing problems. Looks like we need to disable the scene selection buttons when the animation starts, then enabled them when the animation completes. (Betcha this is a problem in other sims that do this type of "scene switching" animation using Tween.)

[2015-09-11 20:12] pixelzoom commented on #25
Good catch @phet-steele!  And good timing, since I was working on similar Tween animation in function-builder, so it was fresh in mind.  Fixed in this dev version. The scene-selection buttons do not respond while scene-selection animation is occurring.

http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.30/hookes-law_en.html

@phet-steele Could you please verify?

[2015-09-11 20:15] pixelzoom commented on #25
@phet-steele Here's a list of simulations (published and unpublished) that use Tween in a similar way for animation, in case you want to try to break them :)

Area Builder
Arithmetic
Bending Light
Charges and Fields
Forces and Motion: Basics
Fraction Matcher
Least Squares Regression
Protein Synthesis
Seasons

[2015-09-11 20:57] pixelzoom commented on #25
Hold off on verifying this for a bit @phet-steele. I'm not entirely happy with having to disable the scene-selection buttons. So I'm going to investigate canceling the animation that's in progress.

[2015-09-11 21:16] pixelzoom commented on #25
Here's a better solution. Scene-selection buttons remain enabled at all times. If an animation is in progress when one of the buttons is pressed, that animation is cancelled, and the new animation is schedule.

http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.31/hookes-law_en.html

@phet-steele please have a look at this dev version. Thanks.

[2015-09-11 22:18] phet-steele commented on #25
@pixelzoom looking good :+1:, I'll check out those other sims on Monday.

[2015-09-11 22:18] #25 closed, assigned to phet-steele

[2015-09-14 16:54] pixelzoom commented on #25
@phet-steele I've moved the issue of how/when to address in other sims to https://github.com/phetsims/tasks/issues/358.

[2015-09-17 16:08] arouinfar commented on #24
@patricialoeblein would you be able to Skype into status next week (9/24) to add to the discussion around acquiring an interactive white board?

[2015-09-17 21:07] patricialoeblein commented on #24
Yes I can join the meeting. I will be on Skype 10-11:30 on 9/24 unless I see a change in the times.

[2015-09-17 22:06] arouinfar commented on #24
Sounds good @patricialoeblein! I'll ask KP to put it on next week's agenda. We'll mostly likely discuss it at the beginning of status, so it's up to you whether or not you want to stay for the entire meeting.

[2015-09-25 20:57] arouinfar commented on #24
I'm going to go ahead and close this issue since the discussion of acquiring a smart board for testing is tangential to Hooke's Law.

@pixelzoom no need to make any further changes. The sim looks fine when projected on a regular screen.

[2015-09-25 20:57] #24 closed, assigned to arouinfar

[2015-09-28 19:41] pixelzoom commented on #13
Note that if this feature in added in the future, it will negate the performance optimizations made in https://github.com/phetsims/hookes-law/issues/3.  Changing `propertySet.aspectRatioProperty` changes the number of points (Vector2) used in the spring geometry. When the number of points changes, we can't take advantage of the "mutate points" optimization. And that optimization was responsible fo

[2015-10-07 19:17] ariel-phet opened #26 "Minor Credit Corrections"
Steele Dalton should be added to the credits

Bryan Yoelin should have name corrected (currently listed as Brian)

[2015-10-07 19:53] ariel-phet opened #27 "Slight shrinking of values text/force vector/displacement above 380 N on Energy screen"
Test device: win 7 desktop

Operating System: Win 7 64 bit

Browser: Chrome (also seen on FF)

Problem description: on the energy screen the values readout on force, as well as the vector shrinks slightly when go above around 380 N.

Steps to reproduce:
1. Open Energy Screen
2. Check values, displacement, applied force
3. Set spring constant to 400 N
4. Move displacement back and forth near 1.000

[2015-10-07 19:55] ariel-phet commented on #27
@pixelzoom - this is pretty minor (but noticeable) would be good to investigate

[2015-10-08 17:00] samreid opened #28 "typo in QA credits"
From https://github.com/phetsims/bending-light/issues/255

"Brian Yoelin" should be "Bryan Yoelin".

[2015-10-08 17:02] pixelzoom commented on #26
Done, updated in master and 1.0 branch.

[2015-10-08 17:02] #26 closed, assigned to pixelzoom

[2015-10-08 17:35] pixelzoom commented on #28
Duplicate of https://github.com/phetsims/hookes-law/issues/26. This has already been fixed. Closing.

[2015-10-08 17:35] #28 closed, assigned to pixelzoom

[2015-10-08 18:34] arouinfar commented on #27
I also observed this behavior in OSX 10.9.5/Safari 9. The displacement value starts to shrink around +/- 0.65m, regardless of the value of the spring constant.

[2015-10-08 18:56] arouinfar commented on #27
This also happens on the Intro and Systems screens once the displacement vector becomes sufficiently long (again, around 0.65m). No shrinkage of the Applied Force value has been observed on these screens.

Intro:
![image](https://cloud.githubusercontent.com/assets/8419308/10376477/436eaa16-6dbb-11e5-9990-f47c16ba7017.png)

Systems:
![image](https://cloud.githubusercontent.com/assets/8419308/103764

[2015-10-08 19:45] arouinfar opened #29 "Sliders shrink as strings expand"
When testing for potential i18n issues, I noticed that the panels below the springs become <i>thinner</i> as the panel expands to accommodate longer strings. As a result the sliders shrink and can become quite small. At double string length, it's still usable in mouse environments, but it is quite difficult to use the sliders on an iPad. Ideally, the sliders/tweakers should stay the same size as t

[2015-10-08 20:53] pixelzoom commented on #29
Our general approach has been to shrink the entire panel (rather than individual items in a panel) when a panel exceeds some maximum width.  And changing that behavior is problematic in this case, because the things in the panel are a common-code UI component (`NumberControl`) that provides no access to the label.  Providing direct access to the label will break encapsulation, so the preferred sol

[2015-10-08 21:05] pixelzoom commented on #27
This was an i18n error. The `maxWidth` was being applied to the vectors instead of to the values on the vectors. Fixed in above commits (master and 1.0 branch), will appear in next RC version.

[2015-10-08 21:06] #27 closed, assigned to pixelzoom

[2015-10-08 21:19] pixelzoom commented on #29
I'll also need to add an option to `NumberControl` to limit the width of the value field.

[2015-10-08 21:59] pixelzoom commented on #29
Mentioning @ariel-phet here too.

I think that we should do this.  But since this involves changing common code (`NumberControl`), this will require pulling in 'master' version of all common-code repos, and a full RC test cycle.

[2015-10-08 22:01] pixelzoom commented on #29
Since a full RC test cycle will likely be required to pull in the fix for https://github.com/phetsims/beers-law-lab/issues/112, I think we should just go for it.

[2015-10-08 22:39] pixelzoom commented on #29
Changed in master and 1.0 branches.

The change to `NumberControl` is in master, so we'll need to move to master for all common-code repos in the next RC version.

Since this was a fairly major change, I'm publishing dev version 1.1.0-dev.1 for testing.

@arouinfar could you please test the following:

Normal strings:
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.1.0-dev.1/hookes-law_

[2015-10-08 23:01] ariel-phet commented on #29
Yep, comfortable with another RC. I think 2 RC's is very reasonable for a brand new sim!

[2015-10-12 16:58] elisemorgan opened #30 "overlap of Series springs on Systems screen"
Test device: iPad 2

Operating System: iOS 8.3

Browser: safari

Problem description: Items on the screen are overlapping when there are two springs connected.

Steps to reproduce: Open Systems screen, select the connected springs.

Severity:

Screenshots:
![image](https://cloud.githubusercontent.com/assets/12610678/10433544/064edc24-70d0-11e5-913b-7e71fea2713e.jpg)

Troubleshooting information (d

[2015-10-12 17:07] elisemorgan commented on #30
Also observed on Chromebook

[2015-10-12 19:39] pixelzoom commented on #30
Not specific to iPad, I see this on desktop platforms. It's specific to the series-springs scene.

For example, OS X + Safari:

![screenshot_33](https://cloud.githubusercontent.com/assets/3046552/10436884/9a01630e-70e6-11e5-853d-ab778c1efb92.png)

[2015-10-12 20:05] pixelzoom commented on #30
This problem was introduced in the fix for #29.  And I just noticed that @elisemorgan is testing 1.1.0-dev.1, not the release candidate 1.0.0-rc.1.   And that's great, because this would have popped up in 1.0.0-rc.2.

I've fixed this over in #29 by restoring the scaling of complete panels if they exceed the space limitations. And that scaling occurs only for the series-spring scene.

Here's how it

[2015-10-12 20:05] #30 closed, assigned to pixelzoom

[2015-10-12 20:11] arouinfar commented on #29
I think the latest dev is looking pretty good @pixelzoom. The number readouts can at times feel a bit small, but realistically these strings are not going to need to grow by much (if at all).

Should this issue remain open until the next round of RC testing or can it be closed now?

[2015-10-12 20:20] pixelzoom commented on #29
Note that the fix herein caused #30, which is now fixed, but was present in 1.1.0-dev.1.

I'd like to leave this issue open, to remind me to pick up master of all repositories when I publish 1.0.0-rc.2.  I'll close it after that.

[2015-10-14 22:33] pixelzoom commented on #29
Since I need to pick up master for other critical fixes, I don't need this reminder.

Closing.

[2015-10-14 22:33] #29 closed, assigned to pixelzoom

[2015-10-15 15:47] ariel-phet opened #31 "Teacher Tips"
@arouinfar good chance we are going to be able to publish this sim soon, so we should make the teacher tips a high priority. I would say by end of the day Monday October 19th.

[2015-10-15 16:29] arouinfar commented on #31
Awesome news @ariel-phet! I'm on it.

[2015-10-15 18:07] elisemorgan opened #32 "Scenery iframe issue still exists"
Test device: Personal

Operating System: iOS 10.10.5

Browser: Safari 9.0 (10601.1.56.2)

Problem description: phetsims/scenery#464 appears to still be present.

Steps to reproduce: Open iFrame. Click and hold down mouse on either slider. While still holding down mouse, move the mouse outside of the iFrame. Release the mouse button. Moving the mouse outside the iFrame will not trigger anything, bu

[2015-10-15 18:18] pixelzoom commented on #32
@elisemorgan wrote:

Do you mean OS X 10.10.5 ?

[2015-10-15 18:27] jonathanolson commented on #32
Unable to reproduce on OS X 10.9.5 with Safari 7.1.8. Anyone with a better-matching platform able to test?

Looks like it, notes that version in the user agent string.

Name: ‪Molarity‬
URL: http://www.colorado.edu/physics/phet/dev/html/molarity/1.2.0-rc.2/molarity_en.html
Version: 1.2.0-rc.2 2015-10-14 21:49:07 UTC
Features missing: touch
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_5)

[2015-10-15 18:35] pixelzoom commented on #32
Dev meeting decision:  We're going to publish with this known problem, because it's better than what's on the website now.  phetsims/scenery#464 will remain open to track the general issue.

Closing.

[2015-10-15 18:35] #32 closed, assigned to jonathanolson

[2015-10-16 14:30] elisemorgan opened #33 "black box appears behind spring (Firefox)"
Test device: Dell Laptop

Operating System: Windows 10

Browser: Firefox 41.0.2

Problem description: Noticed that a black box appears behind the springs when I move the spring constant slider for the left spring. I have been unable to reproduce this issue with other sliders or in other browsers thus far.

Steps to reproduce: Go to systems screen, select springs in parallel. Drag spring constant s

[2015-10-16 16:24] ariel-phet commented on #33
@bryo5363 can you try to reproduce this bug on your machine (make sure you have the latest version of FF)

I am not seeing this issue on Win 7, will also check Win 8.

[2015-10-16 16:53] ariel-phet commented on #33
Not able to produce on Win 8, FF 41.0.2 (same browser version)

@elisemorgan does this still occur if none of the options are checked (displacement, etc)? Or do certain checkboxes need to be checked to see the bug?

[2015-10-16 16:59] elisemorgan commented on #33
Occurs when equilibrium position and force arrows are checked. There must
be an applied force so that the spring is moving back and forth.

On Friday, October 16, 2015, Ariel Paul notifications@github.com wrote:

[2015-10-16 17:51] jonathanolson commented on #33
I'm able to reproduce on a Win10 VM. It also seems somewhat screen-size specific (if the window is smaller it doesn't seem to happen). Was a bit tricky to get it to happen the first time.

Additionally, it seems I need to resize or somehow get things repositioned, and THEN drag. It will occur a few times, and then won't occur again until I resize the window again.

I haven't been able to snag a sc

[2015-10-16 18:18] ariel-phet commented on #33
Ah...with resizing I can now reliably reproduce the issue on Win 7 FF.

I do not consider this a "blocking" issue. I would prefer not to publish with this issue present, but I consider it minor enough that it would be acceptable in terms of getting the sim out.

Regardless, seems worthy of investigation.

[2015-10-19 16:02] jonathanolson commented on #33
My best guess is a Firefox issue that may affect other sims (or may not) Graphical glitches that aren't lines or text/path quality changes might be related.

[2015-10-19 21:08] jonathanolson commented on #33
So far unable to reproduce on OS X Firefox.

[2015-10-19 21:12] arouinfar opened #34 "Add an opaque rectangle behind values?"
At times, the energy value on the Energy Plot can overlap with the parabola. The overlap is most pronounced when k > 250N/m and Energy < 18J. I do not see this as a publication-blocking issue (and @ariel-phet agrees), as the value of the Energy is also clearly displayed on the bar graph.

![image](https://cloud.githubusercontent.com/assets/8419308/10590778/cbd2691c-766f-11e5-9d51-3fa08e14b773.png)

[2015-10-19 21:14] jonathanolson commented on #33
Able to reproduce on FF 41.0.2, Win7. Will be looking for bug reports.

[2015-10-19 23:01] ariel-phet commented on #33
Yes, I have only seen on FF.

[2015-10-19 23:03] ariel-phet commented on #34
@pixelzoom - we do not consider this a blocking issue for publication, but when you return we will be curious if this is a small tweak or not. If so we might consider a minor maintenance release. If more invasive we will probably leave as is until a more major update is required.

[2015-10-20 01:19] jonathanolson commented on #33
I haven't found a Mozilla bug for this after a lot of searching (SVG glitch and SVG artifact revealed only 2 issues each, so I was browsing through SVG ones).

I've been working making it 100% reproducible (on startup), so I can cut things out and create a minimal example that will trigger it for a bug report.

[2015-10-21 14:11] pixelzoom commented on #34
Easy to implement.. It's already done for the displacement vector. Might just be an option that needs to turn on for the other vectors.

[2015-10-21 14:15] pixelzoom commented on #34
Ah, these values are not vectors. Still easy to do, using same technique as DisplacementVectorNode. About 30 minutes to implement.

[2015-10-21 14:45] arouinfar commented on #31
The Teacher Tips is ready to upload.

[2015-10-21 14:45] #31 closed, assigned to arouinfar

[2015-10-21 14:46] arouinfar commented on #23
Taken care of in issue #31, so closing.

[2015-10-21 14:46] #23 closed, assigned to arouinfar

[2015-10-21 15:42] ariel-phet opened #35 "1.0.0 publication items"
**Design/Admin**
- [x] Rosetta test (Opening sim to trusted translators for beta)
- [x] Check teacher tips are up to date
- [ ] Check sim primer is up to date
- [x] Review process with QA team.

[2015-10-21 16:16] arouinfar opened #36 "Add sim to NSDL Science Literacy Maps?"
Question for @patricialoeblein -- Should we continue to tag our sims with keys from the NSDL Science Literacy Maps, or is this out-of-date?

If we should continue to add NSDL keys and benchmarks to the sims, please reassign this issue to me and I will take care of tagging Hooke's Law.

[2015-10-22 12:52] patricialoeblein commented on #36
Yes continue to keep NDSL up to date. Many people are not going to NGSS and this resource is used by many many. We have not yet decided how we are going to add metadata for NGSS, but we do have identification for PEs ready for internal review. KP will be sharing.

Trish Loeblein
Patricia.Loeblein@colorado.edumailto:Patricia.Loeblein@colorado.edu
PhET K12 Specialist http://phet.colorado.edu/

From:

[2015-10-22 14:14] ariel-phet commented on #36
@arouinfar - lets sit down sometime together and I will show you how to navigate the NSDL Literacy Maps

[2015-10-26 03:36] arouinfar commented on #35
Reassigning to @ariel-phet until Rosetta beta testing is done.

[2015-10-26 04:10] arouinfar commented on #36
Thanks for your input @patricialoeblein, and thanks for your offer @ariel-phet! I spent some time playing with the NSDL Literacy map, and was able to tag Hooke's Law. Closing.

[2015-10-26 04:10] #36 closed, assigned to arouinfar

[2015-10-27 16:48] pixelzoom commented on #34
@ariel-phet wrote:

@arouinfar @ariel-phet Please advise on when you'd like this to be addressed.

[2015-10-29 05:05] ariel-phet commented on #35
Back to you @arouinfar  to check off sim primer :). Super exciting you already have translations!

[2015-11-14 20:58] pixelzoom opened #37 "add namespace"
See phetsims/tasks#378

[2015-11-16 02:33] #37 closed, assigned to pixelzoom

[2015-12-21 18:51] pixelzoom commented on #1
This sim was published 2 months ago. @ariel-phet Anything in the above check list that needs to be done? If so, recommended to create (and assign) issues for those things, then close this.

[2015-12-21 18:53] pixelzoom opened #38 "PhET-iO instrumentation"
In 12/21/2015 email, @ariel-phet wrote:

[2015-12-22 00:41] ariel-phet commented on #1
@arouinfar it looks like the April 29th interview in the design doc did not get full notes pasted in, can you take care of that?

[2015-12-28 17:45] pixelzoom commented on #38
I'd like to see these issues addressed before this work proceeds:

- [x] https://github.com/phetsims/beers-law-lab/issues/129
- [x] https://github.com/phetsims/beers-law-lab/issues/131
- [x] https://github.com/phetsims/beers-law-lab/issues/133

(NOTE: All the of the above have been addressed and closed.)

[2016-01-07 18:03] pixelzoom commented on #38
At 1/7/16 status meeting, this task was deferred indefinitely.

[2016-01-21 18:11] pixelzoom commented on #34
This is an issue only with the energy (y-axis) value on the Energy Plot, since it's the only value that every overlaps with other parts of a plot.

[2016-01-21 18:49] pixelzoom commented on #34
Feature added in above commits, demonstrated in this dev version:

http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.1.0-dev.2/hookes-law_en.html

I used 70% opacity. Here's what it looks like in the scenario that was reported in https://github.com/phetsims/hookes-law/issues/34#issue-112234172.

![screenshot_112](https://cloud.githubusercontent.com/assets/3046552/12490823/cfebf5b8-c034-11

[2016-01-21 19:00] arouinfar commented on #34
Looks good to me! Thanks @pixelzoom.

[2016-01-21 19:08] pixelzoom commented on #34
I'm going to leave this open, labeled as "QA" so that we know to regression test for next published release.

[2016-01-21 19:10] arouinfar commented on #34
Oops! Sorry about that.

[2016-01-21 19:15] pixelzoom commented on #34
No problem @arouinfar, it's a new "convention" that I'm experimenting with, to keep track of what has changed since publication.

[2016-01-22 18:39] ariel-phet commented on #1
@arouinfar ping on this?

[2016-01-27 21:15] arouinfar commented on #34
Unassigning myself since this has been left open for future QA testing.

[2016-02-04 05:07] ariel-phet commented on #35
Primers are being dealt with in separate issues, going to go ahead and close this issue.

[2016-02-04 05:07] #35 closed, assigned to arouinfar

[2016-02-23 19:46] phet-steele opened #39 "Edge full screen is broken"
@jonathanolson I only see this in the maintenance release (2/22) for phetsims/tasks/issues/523. Full screen results in this:

![screenshot 1](https://cloud.githubusercontent.com/assets/5863899/13264397/3ded8f3a-da2b-11e5-8661-73bfbf0a898f.png)
There's some white space at the bottom, too (trust me, there's no line break between the screenshot and this text).

[2016-02-23 19:51] phet-steele opened #40 "Edge equilibrium dashed line"
@jonathanolson @ariel-phet this again, for the Equilibrium line: phetsims/scenery/issues/510

![hookeequil](https://cloud.githubusercontent.com/assets/5863899/13264556/f764ce42-da2b-11e5-9c5a-79d65254ca81.PNG)

It's supposed to be dashed, seen in Edge (20+) in both the production version and 2/22 maintenance releases (phetsims/tasks/issues/523).

[2016-02-23 19:57] jonathanolson commented on #40
@ariel-phet, I also recommend patching for this sim.

[2016-02-23 19:57] phet-steele commented on #40
And these lines (at specific values like this):
![hookegraph](https://cloud.githubusercontent.com/assets/5863899/13264738/d84389a8-da2c-11e5-80c2-509bdb7ddf38.PNG)

Supposed to be:
![hookegraph2](https://cloud.githubusercontent.com/assets/5863899/13264768/fa3693c0-da2c-11e5-8ab5-7fe8cefa1c69.PNG)

[2016-02-23 20:08] jonathanolson commented on #39
Can reproduce with Chrome and rootRenderer=canvas. Investigating.

[2016-02-23 20:16] jonathanolson commented on #39
Errors out with console open, leads me to believe patching https://github.com/phetsims/scenery/commit/aacceb9a2835e1803c4b1c88bd8c112e70a16314 may fix the problem.

[2016-02-23 20:24] ariel-phet commented on #40
Feel free to proceed @jonathanolson

[2016-02-24 23:33] phet-steele commented on #39
@jonathanolson fixed here http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance2/hookes-law_en.html

[2016-02-24 23:37] phet-steele commented on #40
@jonathanolson fixed here http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance2/hookes-law_en.html

[2016-02-28 16:56] pixelzoom commented on #40
Reopening.

I'd like to know how this was patched - it doesn't resemble any PhET process that I'm familiar with. Eg what's going on with the non-standard "maintenance2" location in the URL above?

There's also a total absence of information here on what the problem was and how it was fixed.

[2016-02-28 16:58] pixelzoom commented on #39
Reopening.

As with #40, I'd like to know how this was patched - it doesn't resemble any PhET process that I'm familiar with.

There's also a total absence of information here on what the problem was, or why phetsims/scenery@aacceb9 fixed the problem.

[2016-02-28 16:59] pixelzoom commented on #39
There's also a total absence of information here on what the problem was, or why phetsims/scenery@aacceb9 fixed the problem.

[2016-02-28 17:00] pixelzoom commented on #40
There's also a total absence of information here on what the problem was and how it was fixed.

[2016-02-29 17:23] pixelzoom commented on #40
Discussed on Skype with @jonathanolson. Future verifications will be done using a dev version on the release branch, not a deploy into a developer-specific directory.

[2016-02-29 17:23] #40 closed, assigned to jonathanolson

[2016-02-29 17:23] pixelzoom commented on #39
Discussed on Skype with @jonathanolson. Future verifications will be done using a dev version on the release branch, not a deploy into a developer-specific directory.

[2016-02-29 17:23] #39 closed, assigned to jonathanolson

[2016-02-29 17:23] pixelzoom commented on #39
This fix was published in 1.0.2.

[2016-02-29 17:23] pixelzoom commented on #40
This fix was published in 1.0.2.

[2016-03-17 19:10] pixelzoom opened #41 "use tween animation wrappers from twixt"
MoveTo and OpacityTo

[2016-03-17 19:48] pixelzoom commented on #41
I'm not going to do this. Hooke's Law uses an animation that tweens position and animation at the same time. That's not currently supported by the wrappers migrated in https://github.com/phetsims/twixt/issues/1.

Closing. May revisit in the future when twixt is more mature.

[2016-03-17 19:48] #41 closed, assigned to pixelzoom

[2016-08-25 23:21] pixelzoom opened #42 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:33] pixelzoom commented on #42
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:33] #42 closed, assigned to pixelzoom

[2016-10-04 17:17] phet-steele opened #43 "Automated Testing Sim Error (10/4/2016 10:38 AM)"
[code]

[2016-10-04 17:33] pixelzoom commented on #43
Fixed, closing.

[2016-10-04 17:33] #43 closed, assigned to pixelzoom

[2016-12-12 19:12] arouinfar opened #44 "Create sim primer"
Tracking sim primer publication in this issue, so that #1 can be closed.

[2017-02-15 17:01] pixelzoom opened #45 "Hooke's Law is very broken"
Problems:
• Changing the Spring Constant slider is not moving the arm. Increasing Spring Constant should move the arm to the left; decreasing should move the arm to the right.
• Changing the Applied Force slider is not moving the arm. Increasing Spring Constant should move the arm to the right; decreasing should move the arm to the left.
• Moving the arm is not changing the Applied Force slider. W

[2017-02-15 18:03] pixelzoom commented on #45
The problem was indeed the PropertySet conversion.  There was only 1 file that was incorrect (Spring), but it was _very_ incorrect, in a way that caused it to fail silently.   Not sure how I didn't notice this, but I blew it badly.  It's been broken since 9/29/16, but there have been no deploys out of master, and the version on the PhET website does not exhibit this problem.

Fixed, closing.

[2017-02-15 18:03] #45 closed, assigned to pixelzoom

[2017-02-23 19:26] pixelzoom opened #46 "replace TWEEN with twixt"
Hooke's Law currently uses TWEEN directly.  Consider replacing usages with twixt, which encapsulates TWEEN.

[2017-06-12 21:01] pixelzoom commented on #1
@arouinfar can we get this issue completed and closed?

[2017-06-12 21:02] #1 closed, assigned to arouinfar

[2017-08-14 18:04] pixelzoom commented on #34
Decided to just go ahead and close this.

[2017-08-14 18:04] #34 closed, assigned to nobody

[2017-10-25 16:01] phet-steele opened #47 "Assertion failed: parallel system is too tall"
Happens on load (master)

[code]

[2017-10-25 17:10] pixelzoom commented on #47
There have been no changes to this sim for a long time, so I suspect that a common code change is the culprit.  I first tested with my working copy, which was pulled yesterday - no problem.  I then ran `pull-all.sh` and retested, and reproduced the problem.

pull-all.sh changed these common-code repos in my working copy:
axon
dot
joist
scenery
scenery-phet
sun

One of them is the culprit.

[2017-10-25 17:15] pixelzoom commented on #47
Here's a screenshot that shows what the assertion is detecting - the bottom-left control panel is now outside the layoutBounds.

![screenshot_411](https://user-images.githubusercontent.com/3046552/32012638-c12260ee-b975-11e7-9ca0-47dd9ef7d7f0.png)

[2017-10-25 17:16] pixelzoom commented on #47
I asked about this on the Slack developer channel. @zepumph pointed me to a11y changes in `HSlider` (in sun).

[2017-10-25 17:24] pixelzoom commented on #47
The breaking change was to HSlider in https://github.com/phetsims/sun/commit/f309a64160ae1802ba57a1924cc4b5c25ded6c19. The nature of the change and reason for the break was discussed in Slack:

[code]

[2017-10-25 17:25] pixelzoom commented on #47
Apparently reverting HSlider didn't fix it. The control panels are now less tall, but still taller than they were as some point yesterday.

![screenshot_412](https://user-images.githubusercontent.com/3046552/32013076-2bb1e8fc-b977-11e7-826a-798d5b2f9cd3.png)

[2017-10-25 17:32] pixelzoom commented on #47
Breaking changes were also made to `NumberControl`.  Relevant Slack discussion:

[code]

[2017-10-25 17:34] zepumph commented on #47
Issue that breaking changes were made for: https://github.com/phetsims/scenery-phet/issues/341

[2017-10-25 17:35] pixelzoom commented on #47
Verified that the assertion failure is gone, everything is inside layoutBounds, and the layout now matches the published version:

![screenshot_413](https://user-images.githubusercontent.com/3046552/32013488-8731ba12-b978-11e7-8dbb-438ff90098c1.png)

[2017-10-25 17:35] pixelzoom commented on #47
I’ve noted this issue in the commits that reverted HSlider and NumberControl.

@phet-steele please verify after pulling sun and scenery-phet.

[2017-10-25 19:23] phet-steele commented on #47
Verified!

[2017-10-25 19:23] #47 closed, assigned to phet-steele

[2018-01-24 23:40] arouinfar commented on #44
Marking as on-hold until the following primers are published:

- [x] https://github.com/phetsims/circuit-construction-kit-dc/issues/167
- [x] https://github.com/phetsims/circuit-construction-kit-dc-virtual-lab/issues/10
- [x] https://github.com/phetsims/projectile-motion/issues/147
- [x] https://github.com/phetsims/pendulum-lab/issues/191
- [ ] https://github.com/phetsims/capacitor-lab-basics/issu

[2018-01-31 18:45] pixelzoom commented on #46
twixt types that encapsulate TWEEN (e.g MoveTo, OpacityTo) are no longer the recommended solution.   There will be something new coming in twixt that does not use TWEEN.  Currently unknown what that might look like.

Slack developer channel discussion 1/31/18:

Jonathan Olson [10:13 AM]
I'm planning to have higher-level animation code (that uses Easing under the hood) that is stable, but things li

[2018-03-26 18:19] pixelzoom commented on #33
@phet-steele could you check whether this is still an issue with the new-and-improved Firefox Quantum (version 59+) ?

[2018-04-27 17:33] phet-steele commented on #33
@pixelzoom I followed the instructions scattered through this issue and didn't see a problem on Win 10 FF 59.0.2. Closing since this probably no longer needs attention.

[2018-04-27 17:34] #33 closed, assigned to nobody

[2018-05-03 23:05] arouinfar commented on #44
Since CLB has some pending changes, this sim is up next.

- [x] Draft script - 5/1/18
- [x] Record rough version for script verification - 5/31/18
- [x] Review script verification draft, and adjust script as necessary - 6/1/18
- [x] Record another draft - 6/5/18
- [x] Review 2nd draft - 6/5/18
- [x] Produce primer and upload 6/6/18
- [x] Caption primer 6/6/18

[2018-06-04 22:29] pixelzoom opened #48 "use type-specific Properties"
Before instrumenting for PhET-iO #38, this sim should be converted to use type-specific Properties and validation options.   These types didn't exist when Hooke's Law was implemented, and using them will make instrumentation easier.

[2018-06-04 23:05] pixelzoom commented on #48
Done, tested using fuzzMouse.

[2018-06-04 23:05] #48 closed, assigned to pixelzoom

[2018-06-05 16:10] pixelzoom commented on #13
This feature was taken out ~3 years ago, and no one has ever asked for it.  So I'll close this issue.

[2018-06-05 16:10] #13 closed, assigned to nobody

[2018-06-05 16:11] pixelzoom commented on #46
All uses of TWEEN are in IntroScreenView.

The recommended solution now involves Animation and Easing (both in TWIXT).

[2018-06-05 19:12] pixelzoom opened #49 "duplicate code in *SystemNode types"
`numberOfInteractionsInProgressProperty` is used (and duplicated) throughout the view.  It's purpose is described in implementation-notes.md:

It might be preferable to check the state of RoboticArmNode `dragHandler.dragging` to know whether interaction is taking place.

[2018-06-05 19:19] pixelzoom commented on #49
This is more complicated that just checking RoboticArmNode `dragHandler.dragging`.  We also need to know whether the user is interacting with a NumberControl that affects displacement.  So what I described above won't work.  It would still be good to remove the duplication, by moving `numberOfInteractionsInProgressProperty` into a base type.

[2018-06-05 19:21] pixelzoom commented on #49
`numberOfInteractionsInProgressProperty = new` currently appears in 4 places:

EnergySystemNode
IntroSystemNode
ParallelSystemNode
SeriesSystemNode

The duplicated code is:

[code]

[2018-06-05 19:46] pixelzoom commented on #49
There is also some code that is duplicated at the end of the constructor for each *SystemNode type.  E.g. in `IntroSystemNode`:

[code]

[2018-06-06 18:28] pixelzoom opened #50 "duplicate code in *ViewProperties"
Each screen has its own type that contains view-specific Properties.  They are IntroViewProperties, SystemsViewProperties and EnergyViewProperties.   These screen have 4 Properties in common, and they are currently duplicated in the each of these types.   These common Properties should be factored out prior to PhET-iO instrumentation, so that we're not instrumenting the same 4 Properties three tim

[2018-06-06 18:33] pixelzoom commented on #50
Done, fuzz tested, closing.

[2018-06-06 18:33] #50 closed, assigned to pixelzoom

[2018-06-06 19:03] pixelzoom opened #51 "replace Property options with constructor params"
There are several cases where a Property should be provided via a constructor parameter, instead of via an option.  This will eliminate unnecessary default values for these options, and make PhET-iO instrumentation more straightforward.

Specifically:

- [x] ForceVectorNode, AppliedForceVectorNode, SpringForceVectorNode, DisplacementVectorNode: valueVisibleProperty
- [x] EnergyBarGraph: valueVisib

[2018-06-06 22:55] pixelzoom commented on #51
Done, closing.

[2018-06-06 22:55] #51 closed, assigned to pixelzoom

[2018-06-07 18:29] pixelzoom commented on #38
This is back on, assigned to @samreid and me to work on.  @kathy-phet is getting info on what needs to be instrumented.

[2018-06-07 18:30] pixelzoom commented on #38
I did a few things to prepare for instrumentation: #48, #49, #50, #51.

[2018-06-07 18:31] pixelzoom commented on #38
I did a few things to prepare for instrumentation: #48, #49, #50, #51.

@samreid let me know if there's any other "general" things that I should consider.

[2018-06-07 21:22] arouinfar commented on #44
The primer is now live, thanks @CWilson4960!

[2018-06-07 21:23] #44 closed, assigned to arouinfar, CWilson4960

[2018-06-07 21:37] samreid commented on #38
Instrumentation looks like it is going well so far--I'm around for a while if you'd like me to tag along.

[2018-06-07 22:33] kathy-phet commented on #38
Is Chris doing this then?
K

Sent from my iPhone

On Jun 7, 2018, at 5:37 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Instrumentation looks like it is going well so far--I'm around for a while if you'd like me to tag along.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/hookes-la

[2018-06-07 23:20] pixelzoom commented on #38
Basic instrumentation is done (tandems propagated). Ready to instrument specific Properties, etc. when @kathy-phet provides requirements.

[2018-06-07 23:35] pixelzoom commented on #38
In the `State` wrapper, when switching to 2 systems, the top system doesn't move to it's new position, see screenshot below.  This is handled by a TWEEN animation in IntroScreenView.

![screenshot_669](https://user-images.githubusercontent.com/3046552/41131466-2eb8c3d2-6a79-11e8-9754-2a7bf3bd1d22.png)

[2018-06-08 00:18] pixelzoom opened #52 "Assertion failed: cannot start event while event is in progress"
Related to #38.

In `console: colorized` phet-io wrapper, there's a cycle happening when the robotic arm is dragged.  This results in `"Assertion failed: cannot start event while event is in progress"`.

Here's the relevant code in SingleSpringSystem, and there's a similar problem in SeriesSystem and ParallelSystem.

[code]

[2018-06-08 00:19] pixelzoom opened #53 "State wrapper: wrong position for top system"
Related to #38.

In the `State` wrapper, _Intro_ screen, when switching to 2 systems, the top system doesn't move to it's new position, see screenshot below.  This is handled by a TWEEN animation in IntroScreenView.

![screenshot_669](https://user-images.githubusercontent.com/3046552/41131466-2eb8c3d2-6a79-11e8-9754-2a7bf3bd1d22.png)

[2018-06-08 00:22] pixelzoom commented on #53
In case this is somehow related to the TWEEN animation...  Replacing TWEEN is the subject of https://github.com/phetsims/hookes-law/issues/46.

[2018-06-08 00:24] kathy-phet opened #54 "Improvement to displacement slider - semi-snappy slider"
In working with this client, they noted that it is hard to reproduce nice values with the displacement sliders currently. We have often used a strategy lately to make improvements to this behavior, and it would be nice to apply that strategy here to do a semi-snappy slider with 0.05 m jumps (so 40 settings over the length of the slider) and then using the tweakers if you want to do smaller jumps a

[2018-06-08 00:24] pixelzoom commented on #49
FYI... `numberOfInteractionsInProgressProperty` should _not_ be part of the PhET-iO API for this sim.  It's a very private internal detail for controlling when the robotic arm's pincers are opened.  So instrumentation can proceed without addressing this issue.

[2018-06-08 00:29] pixelzoom commented on #54
@kathy-phet please clarify.

(1) You said "displacement sliders".  This sim has only one displacement slider, on the Energy screen.

(2) Model quantities are already constrained to the number of decimal places shown below. And as I recall, we spent a great deal of time choosing these values.  Do we really want to revisit this?

HookesLawConstants.js:

[code]

[2018-06-08 00:29] pixelzoom commented on #54
@kathy-phet please clarify.

(1) You said "displacement sliders".  This sim has only one displacement slider, on the Energy screen.   Are you referring only to displacement, or other sliders too?  How is this problem specific only to the displacement slider?

(2) Model quantities are already constrained to the number of decimal places shown below. And as I recall, we spent a great deal of time cho

[2018-06-08 00:31] pixelzoom commented on #54
And here are the deltas that are currently used for the arrow buttons that are associated with each slider, also from HookesLawContants.js:

[code]

[2018-06-08 00:35] pixelzoom commented on #54
All of the slider+arrow controls in this sim are implemented using NumberControl, which currently has no way to constrain the slider as @kathy-phet suggested.

[2018-06-08 00:37] pixelzoom commented on #54
Note that if you constrain the displacement slider, then you'll also need to constrain the robotic arm, since moving the robotic arm changes the slider value.

[2018-06-08 00:42] pixelzoom commented on #54
Note that if we constrain the displacement slider, then we might also need to constrain the robotic arm, since moving the robotic arm changes the slider value.  Or maybe it's OK if the robotic arm operates with the same precision as the arrow buttons?

[2018-06-08 00:45] pixelzoom commented on #54
All of the sliders+arrows in this sim are implemented using NumberControl, which does not directly support the type of "snapping" to intervals that @kathy-phet describes (e.g. snapping to 0.05m increments).  I might be able to use option `sliderStartCallback`.

[2018-06-08 01:08] kathy-phet commented on #54
Sorry - only the one displacement slide.

The number of decimals is fine.

An example would be the sliders in pendulum lab. If you slide them they jump snappy behavior by 0.10, but the tweakers make them jump by 0.01 for more precise look. (This is an approach that Amy has been using more recently in sims, and for which we have turned to for pedagogical reasons of improving ability to do precise d

[2018-06-08 01:08] kathy-phet commented on #54
https://phet.colorado.edu/sims/html/pendulum-lab/latest/pendulum-lab_en.html
See this for slider / tweaker example (length).

[2018-06-08 01:21] kathy-phet commented on #54
Hopefully Amy can take a look tomorrow, too.

[2018-06-08 12:33] samreid commented on #38
For labeled UI components, I'd recommend naming the tandem to match the english text that appears on the label.  For instance, the top radio button is labeled "Bar Graph", but the tandem is `energyBarRadioButton`--it should be `barGraphRadioButton`.  This may include renaming vars or (lowercase) properties to match the tandems, where appropriate.

Also, I've committed initial work to phet-io-wrapp

[2018-06-08 12:51] samreid opened #55 "Instrument the play area panels"
For #38, we would like to be able to hide the entire slider control *Panel*, not just the contents of the panel, and we would like the content tandem to be nested in the panel tandem.  I'll demonstrate one way to accomplish this for the Energy screen.

[2018-06-08 12:53] samreid commented on #55
Please see the hookes-law commit for how this was accomplished.  @pixelzoom can you please review and, if it seems good, apply the same strategy to the other screens?

[2018-06-08 16:41] pixelzoom commented on #55
Looks good.  I applied the same pattern to the other panels.  I shortened tandem name (e.g.) "springConstantControlPanel" to "springConstantPanel" throughout.   @samreid Take a peek, close if this looks OK.

[2018-06-08 16:59] pixelzoom commented on #38
I renamed tandems, types and enums to match the labels that appear on controls.  For example, for the "Force Plot" radio button, the tandem is now `"forcePlotRadioButton"`, the enum value is `"forcePlot"`, and the type is `ForcePlot`.   I did this for the "Bar Graph", "Energy Plot" and "Force Plot" radio buttons.  I review all calls to `createTandem` and didn't see any other cases where this neede

[2018-06-08 17:36] pixelzoom commented on #38
In the above commit, I instrumented the model Properties in RoboticArm and Spring.  Questions and concerns for @samreid to review:

- [x] After doing this, `phet-io-wrapper-hookes-law-energy` now fails with `Assertion failed: cannot start event while event is in progress` when dragging either the arm or the displacement slider.

- [x] Check my use of the `units` option.

- [x] I was unclear on how

[2018-06-08 17:46] pixelzoom commented on #52
I don't understand this problem.  And I don't understand how a "cannot start event while event is in progress" policy can work with multi-touch.

[2018-06-08 18:25] pixelzoom commented on #54
I reviewed Pendulum Lab.  The sliders feel jerky to me.  But if that's what you want...  I should be able to use NumberControl `constrainValue` option to constrain the value to specific increments while dragging the slider thumb.

[2018-06-08 18:29] samreid commented on #55
The change sets look great, closing.

[2018-06-08 18:29] #55 closed, assigned to samreid

[2018-06-08 18:45] pixelzoom commented on #54
@kathy-phet @arouinfar please review [1.1.0-dev.5]().  This version constrains displacement to 0.05m increments when dragging the displacement slider (which appears in the Energy screen only) or the robotic arm (which appears in all screens).   A side-effect of this is that dragging the robotic arm in the first 2 screens results in much larger jumps in applied force value, so you can drag the robo

[2018-06-08 18:46] pixelzoom commented on #54
@kathy-phet @arouinfar please review [1.1.0-dev.5](https://phet-dev.colorado.edu/html/hookes-law/1.1.0-dev.5/phet/hookes-law_en_phet.html).  This version constrains displacement to 0.05m increments when dragging the displacement slider (which appears in the Energy screen only) or the robotic arm (which appears in all screens).   A side-effect of this is that dragging the robotic arm in the first 2

[2018-06-08 18:46] arouinfar commented on #54
Thanks @pixelzoom. You caught me mid-comment, so I'll instead review the latest dev.

[2018-06-08 19:04] pixelzoom commented on #53
The top system node is currently moved by changing its `centerY` directly.  Do we need to add an intermediate Property in order to support record/playback of this animation?

[2018-06-08 19:06] arouinfar commented on #54
@pixelzoom @kathy-phet the displacement slider and robotic arm on the Energy screen feel great. I really like the new behavior. It will be much more efficient to set up pedagogically useful experiments.

However, the robotic arm is a bit clumsy on the other screens. Since the arm is snapping to displacement values, and not applied force, the increments can be VERY coarse. For example, when maximiz

[2018-06-08 19:13] pixelzoom commented on #53
I added `system1CenterYProperty` in the above commit, and this issue is no longer present in the "State" wrapper.  @samreid please review, to verify that this is the preferred way of addressing this.

[2018-06-08 19:21] pixelzoom commented on #54
[1.1.0-dev.6](https://phet-dev.colorado.edu/html/hookes-law/1.1.0-dev.6/phet/hookes-law_en_phet.html) constrains dragging of the robotic arm to 0.05m increments in the Energy screen only.  The other screens have continuous dragging.  @arouinfar please review.

[2018-06-08 19:26] arouinfar commented on #54
Looks good to me @pixelzoom, thanks!

[2018-06-08 19:28] pixelzoom commented on #54
@arouinfar said:

The model is `F = kx`.  The robotic arm is indeed changing displacement, `x` -- why would it change anything else?  Applied force control is changing `F`, and spring constant control is changing `k`.   When one quantity changes, the others are recomputed.

[2018-06-08 19:30] pixelzoom commented on #54
Great, thanks @arouinfar.  Closing.

@kathy-phet feel free to review, reopen if you have any issue with what's been done here.

[2018-06-08 19:30] #54 closed, assigned to arouinfar

[2018-06-09 13:17] samreid commented on #53
@pixelzoom the strategy you used is the preferred strategy for addressing this.  But I'd like to point out the alternative strategy so you are aware of it, in case it comes up elsewhere.  The alternative strategy would be to create an IO type IntroScreenViewIO, then define toStateObject/fromStateObject for it and pass it a tandem.  Then it could serialize any of its (lower-case) properties directl

[2018-06-09 20:30] #53 closed, assigned to pixelzoom

[2018-06-09 22:44] samreid commented on #52
Here is the simplified stack trace:

[code]

Note the loop in `displacementProperty`.  I think that a Property cascading changes to itself should generally be avoided.  I'm not familiar enough with the sim to know how to address this.

[2018-06-09 22:48] samreid commented on #52
It looks like it could be caused by rounding in the constrainValue step.

[code]

[2018-06-10 17:43] pixelzoom commented on #52
I'll investigate first thing on Tuesday 6/12.

[2018-06-11 13:08] samreid commented on #52
I'd also like to investigate allowing the same Property instance loops in PhetioObject.  I'll create a tandem issue for this.

[2018-06-11 14:35] samreid commented on #52
I added support for Property link cycles in https://github.com/phetsims/tandem/issues/57, so this is no longer a blocking issue.  However, it would still be good to identify what is causing the Property link loop and if it should be eliminated.

[2018-06-11 14:39] samreid commented on #38
Tracked in https://github.com/phetsims/hookes-law/issues/52, and another solution is in place, see https://github.com/phetsims/tandem/issues/57

Usage of units looks good, and appears properly in studio.

Work is being done in https://github.com/phetsims/tandem/issues/56

(EDIT: Convention is now `// ifphetio`.)

Addressed as described in preceding comments.

[2018-06-12 21:24] pixelzoom commented on #52
After going round and round, and using [this patch in Property](https://github.com/phetsims/tandem/issues/57#issuecomment-396712827) to identify the loops, I discovered that there's an inherent problem in NumberControl's arrow buttons.  Here's the code and an example with values when `numberProperty.get()` is `0.008` and `delta` is `0.001`:

[code]

So this does nothing to remove the floating poin

[2018-06-12 23:35] pixelzoom commented on #52
I believe that I've eliminated Property loops in the Energy screen.  See the above commit and the fix to NumberControl in https://github.com/phetsims/scenery-phet/issues/384.   This literally took me _all day_ to work out,  and there are still similar loops (related to Applied Force, I believe) in the other 2 screens.

@samreid FYI.

[2018-06-13 00:01] pixelzoom opened #56 "Bar Graph is no longer centered"
Reported by @kathy-phet in https://github.com/phetsims/phet-io-wrapper-hookes-law-energy/issues/2#issuecomment-396770593:

I replied:

[2018-06-13 00:02] pixelzoom commented on #56
Bug was probably introduced in https://github.com/phetsims/hookes-law/commit/06f62c847d2ee0d1da422a095628833456426ce1.

[2018-06-13 00:05] pixelzoom commented on #56
Fixed in the above commit. @samreid please verify.

[2018-06-13 17:22] kathy-phet opened #57 "Model and decimals in sim screens"
This issue is broken off for a separate discussion reflecting on Hooke's law screens. Below is the initial context that initiated the discussion. But in the next comment I will try to summarize what I am seeing as the differences in the screens and the place value needs.

@kathy-phet wrote:

@pixelzoom replied:

[2018-06-13 17:27] pixelzoom commented on #57
Specifically, this issue was broken off from https://github.com/phetsims/phet-io-wrapper-hookes-law-energy/issues/2#issuecomment-396770874.

[2018-06-13 17:28] pixelzoom commented on #57
@kathy-phet also note that there's a more general issue that discusses the topic of "number of decimal places" as related to the PhET-iO message stream.  See https://github.com/phetsims/phet-io/issues/1332.

[2018-06-13 17:43] kathy-phet commented on #57
Here is a summary of how I am thinking about these screens.

Screen 1:
Here the primary controls are F and k. Displacement is the responding to these slider values.
F is constrained to an integer (1,2,3,.... )
k is constrained to the tens value (100, 110, 120, ...)
Displacement should be the calculated value from x = F/k. And x value needs 3 decimal places because these nice F and k values can div

[2018-06-13 18:39] arouinfar commented on #57
Displacement definitely needs three decimal places on all three screens, otherwise some interactions will feel coarse, as @pixelzoom described.

We consistently display the same number of decimal places across all screens. I believe we made the decision of how many decimals to display was based on the interaction pattern of the first two screens (user-controlled F and k).

@kathy-phet raises some

[2018-06-13 18:54] pixelzoom commented on #57
@arouinfar asked:

_Intro_ and _Systems_ screens: Changing x solves for F.  Changing F or k solves for x.
_Energy_ screen: Changing x or k solves for F.  Changing F solves for x.

[2018-06-13 19:01] pixelzoom commented on #57
@arouinfar wrote:

The current implementation uses the same sig figs throughout all screens.  Changing so that one screen (Energy) can be different will be nontrivial.

As written, this seems to suggest that we constrain displacement in the model, but constrain applied force only in the view ("display").  Is that what you intended?  I want to be very clear that model vs view constraint are very di

[2018-06-13 19:08] kathy-phet commented on #57
Why do you need a changing F solves for x on this screen? x is fixed by the slider/model value?

[2018-06-13 19:30] arouinfar commented on #57
@pixelzoom it's unclear to me how a user could directly change F. The user can move the arm (which changes x) or adjust the k or x sliders.

An alternative would be:
* Displacement always has three decimal places. On the Energy screen, the 3rd decimal place would be 0 because the thumb/arm snaps to 0.05 m steps, and the tweaker would adjust in steps of 0.01 m.
* Applied Force always has one decima

[2018-06-14 20:16] samreid opened #58 "design PhET-iO API"
(CM edit: Whatever we do here must be compatible with client requirements in https://github.com/phetsims/phet-io-wrapper-hookes-law-energy/issues/2.)

6/14/18 design meeting:

## Intro and Systems screens
- [x] Don't allow the io client to hide the spring.
(DONE: HookesLawSpringNode is no longer passed a tandem.)

- [x] Don't allow the io client to hide the arm.
(DONE: RoboticArmNode instruments i

[2018-06-15 00:12] pixelzoom commented on #56
I'm going to close this, since it was a trivial fix and is obviously working correctly now.

[2018-06-15 00:12] #56 closed, assigned to samreid

[2018-06-15 00:18] pixelzoom commented on #57
About the Energy screen...

@kathy-phet asked:

@arouinfar said:

Sorry, let me try explaining again.

All screens use the same model.  In all cases, changing x computes F, and visa versa.  The model has an option that indicates which parameter is computed when k changes.  In the first 2 screens, changing k computes x.  In the Energy screen, changing k computes F.

In the Energy screen, there is n

[2018-06-15 00:19] pixelzoom commented on #57
About the Energy screen...

@kathy-phet asked:

@arouinfar said:

Sorry, let me try explaining again.

All screens use the same model code.  In the model, changing x computes F; changing F computes x.  The model has an option that indicates which parameter is computed when k changes.  In the first 2 screens, changing k computes x.  In the Energy screen, changing k computes F.

In the Energy screen

[2018-06-15 00:35] pixelzoom commented on #57
@arouinfar asked:

Correct, the displacement slider and robotic arm are both constrained to set x to values with at most 3 decimal places.  So when interacting with the displacement slider or robotic arm, x values will have 3 decimal places in the model.

But values computed by the model (e.g. F is computed when dragging the robot arm changes x) are not similarly constrained to any number of decim

[2018-06-15 20:45] pixelzoom commented on #58
I addressed most of the items that we identified in the 6/14/18 design meeting.  Comments on the ones that I did not address:

This is a general problem, not specific to Hooke's Law, so I'm not going to attempt to address it in a sim-specific way.   If this is something that is generally desirable, please create a general issue for discussion.

This is unrelated to the model.  It's related to a vi

[2018-06-15 21:37] pixelzoom commented on #38
Further work on instrumentation has moved to #58.

Closing.

[2018-06-15 21:37] #38 closed, assigned to pixelzoom

[2018-06-18 18:22] kathy-phet commented on #57
I don’t want the model to display fewer decimals nor for PhET-io model values to be fewer decimals, but when the slider is set to 0.130, can you not have that set the model to 0.130000000 exactly? So all model position values have decimals that are 0 down the line? I agree F would have some non zeros down at the smallest decimals because of calculations, but not sure why x would need to.

Kathy

S

[2018-06-18 18:41] pixelzoom commented on #57
UI control do set their associated Properties to exact values.   But as I stated above:

If you drag a control that changes F, x will be computed.  And depending on the values of F and k, x may contain some floating point error.

E.g. in Javascript `.05 + .01 = 0.060000000000000005`.  Really.

[2018-06-18 18:43] pixelzoom commented on #57
UI controls do set their associated Properties to exact values.   But as I stated above: ... values computed by the model (e.g. F is computed when dragging the robot arm changes x) are not similarly constrained to any number of decimal places, and computed values may contain floating-point error.

If you drag a control that changes F, x will be computed.  And depending on the values of F and k, x

[2018-06-18 23:15] pixelzoom commented on #52
The other 2 screens (Intro, Systems) will need to be addressed in order to complete the API requirements in https://github.com/phetsims/hookes-law/issues/58.

We'll also need to sort out the confusion about "number of decimals" in #57.

[2018-06-18 23:48] kathy-phet commented on #57
On the third screen can we disable the recalculation of x. When k changes only F should change. x should not be calculated or changed on this screen, it should be fixed by the slider position only.

Kathy

Sent from my iPhone

On Jun 18, 2018, at 12:43 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

don’t want the model to display fewer decimals nor for PhET-io

[2018-06-18 23:48] pixelzoom commented on #57
In case anyone is interested in where Javascript floating-point error comes from... This is the simplest explanation that I've been able to find: https://modernweb.com/what-every-javascript-developer-should-know-about-floating-points/.

[2018-06-18 23:49] pixelzoom commented on #57
@kathy-phet I'm not at all clear on what problem (specifically) you're trying to solve.

[2018-06-19 00:11] pixelzoom commented on #57
When a NumberProperty value in the model changes, its value is now printed to the browser console if you use the `?log` query parameter.

There are 2 NumberProperties that (when computed) contain floating-point error that makes them have more decimal places than desired.  Those 2 Properties are `appliedForceProperty` (F) and `leftProperty` (position of the left end of the robotic arm).   So I'm pe

[2018-06-19 03:51] kathy-phet commented on #57
I will look again. Goal was to stop the recursion but if it is not being recalculated it should be fine. I thought I saw recursion still when using position tweakers but I will look again when I can. Are the position tweakers at 0.01 steps now?
K

Sent from my iPhone

On Jun 18, 2018, at 6:11 PM, Chris Malley <notifications@github.com<mailto:notifications@github.com>> wrote:

When a NumberProperty

[2018-06-19 15:55] pixelzoom commented on #57
I really think we should table this issue until we can have a real discussion.  Getting fragmented/unclear feedback based on no specific version is making me a little crazy and does not feel productive.

[2018-06-19 16:05] pixelzoom commented on #57
@kathy-phet asked:

No. Displacement tweakers on the Energy screen are still at 0.001 m increments.  I can change it (relatively) easily for the tweakers, but I didn't think we had reached a consensus yet.

[2018-06-20 17:13] pixelzoom commented on #57
@arouinfar and @kathy-phet had a phone conversation, then @arouinfar and I had a phone conversation.  Here are the requested changes:

All screens:
- [x] add 1 decimal place to Applied Force

Intro & Systems screens:
- [x] add 1 decimal place to Spring Force
- [x] snap robotic arm to 0.001m increments

Energy screen:
- [x] change Displacement tweakers to 0.01m increment (continue to show 3 decimal

[2018-06-20 17:17] arouinfar commented on #57
That's correct @pixelzoom!

@kathy-phet just to clarify, on the first two screens, the Applied Force slider thumb and tweakers are already restricted to integer values (and directly set the value of F in the model). No changes need to be made to the Applied Force slider behavior, other than the number of digits to display.

[2018-06-20 17:18] kathy-phet commented on #57
OK. Thanks!

[2018-06-20 17:21] pixelzoom commented on #58
I had a Slack discussion with @arouinfar, and we decided that the following model Properties should not be instrumented.

- [x] Spring: lengthProperty, leftProperty, rightProperty,  rightRangeProperty, equilibriumXProperty - these are used internally and are not useful to the client.

- [x] RoboticArm: leftProperty - the position of the left end of the arm is not important, it's internal and used

[2018-06-20 17:23] pixelzoom opened #59 "Should equilibriumXProperty be a Property?"
While working on PhET-iO instrumentation, I have yet to see equilibriumXProperty change.  So I suspect that it should be a constant, not a Property.

[2018-06-20 17:28] pixelzoom commented on #57
Note to self: The addition of 1 decimal place for Applied Force was motivated by the Energy screen, so that you'll see a change in Applied Force while using the Displacement tweakers.   The change to Spring Force and the other screens was to have consistent number of decimal places for all forces, on all screens.

[2018-06-20 17:29] arouinfar commented on #57
To piggyback on @pixelzoom's https://github.com/phetsims/hookes-law/issues/57#issuecomment-398831608 above. The argument for adding a decimal place to Applied Force is nicely described by @kathy-phet in https://github.com/phetsims/hookes-law/issues/57#issuecomment-397024982.

[2018-06-20 17:44] pixelzoom commented on #57
These changes will only appear in master.  So we'll need a new release branch and full QA cycle before republishing.  Slack discussion:

Chris Malley [11:40 AM]
Will any of these general Hooke’s Law changes need to be published in a maintenance release?  Or can we assume that the next release will be out of master? (edited)

Amy Rouinfar [11:41 AM]
I don’t think it would require a maintenance rele

[2018-06-20 18:02] pixelzoom commented on #58
Completed https://github.com/phetsims/hookes-law/issues/58#issuecomment-398829620 and logging has been improved.

[2018-06-20 18:40] pixelzoom commented on #57
Changes requested in https://github.com/phetsims/hookes-law/issues/57#issuecomment-398827414 are in [1.1.0-dev.9](https://phet-dev.colorado.edu/html/hookes-law/1.1.0-dev.9/phet/hookes-law_en_phet.html), brand=phet.  @arouinfar please review.  If everything looks OK, we'll proceed with publishing a new PhET-iO dev version.

[2018-06-20 18:42] pixelzoom commented on #58
- [x] Spring `energyProperty` should probably be renamed to `potentialEnergyProperty`, since it appears in the UI as "Potential Energy" and is documented as `// @public potential energy, E = ( k1 * x1 * x1 ) / 2`.

[2018-06-20 18:45] arouinfar commented on #57
Everything looks good to me @pixelzoom. Thanks!

[2018-06-20 18:48] kathy-phet commented on #57
@pixelzoom @arouinfar -

I actually am not sure. If I take the values here: x=0.232 and k=200 and calculate F, I get 46.4, but the display says 46.0. It should say 46.4.

![image](https://user-images.githubusercontent.com/5096804/41678389-30ef6ff2-7488-11e8-9645-b28215f10432.png)

[2018-06-20 18:50] pixelzoom commented on #59
Each spring has its own equilibriumXProperty, and it does change for springs in series.  What is displayed is the equilibriumXProperty for the _equivalent spring_, which does not change.  So in the general Spring model, it needs to be a Property.

[2018-06-20 18:50] #59 closed, assigned to pixelzoom

[2018-06-20 19:12] pixelzoom commented on #57
@kathy-phet said:

There is an issue in SCENERY_PHET/NumberControl.  By default, it constrains the value to be the same as tweaker increment, which is 1N for AppliedForce.  I'll investigate.

[2018-06-20 19:21] pixelzoom commented on #57
NumberControl is not the problem. Digging deeper.

[2018-06-20 19:25] arouinfar commented on #57
@kathy-phet @pixelzoom when reviewing this issue, I set several different values for k and F (using their sliders) that weren't nicely divisible, and x was always properly rounded.

However, I do run into issues like the one @kathy-phet describes if I use the arm to set x, and then calculate F. Here, the model should be calculating F, which means the decimal place would often be non-zero. Sounds l

[2018-06-20 19:31] pixelzoom commented on #57
@arouinfar said:

Indeed, this is a symptom of the number of decimal places that you've chosen to display.  There's nothing that I can do about that.

[2018-06-20 19:35] kathy-phet commented on #57
Agreed. I don't see a way to avoid that scenario.

[2018-06-20 19:35] arouinfar commented on #57
Agreed. I just wanted to make it clear that we should be sure to calculate the value that is derived in the model when testing.

[2018-06-20 19:38] pixelzoom commented on #57
The problem reported in https://github.com/phetsims/hookes-law/issues/57#issuecomment-398856832 was due to a requirement in the model:  Applied Force value must be a multiple of the tweaker increment.  Our tweaker increment is still 1N, but our desired display increment is now multiples of 0.1N.  No idea where this requirement came from, and I don't have time to hunt it down.   So I've removed it.

[2018-06-20 20:07] arouinfar commented on #57
@pixelzoom things look great on the Energy screen, so everything is fine for the client.

I'm seeing some rounding issues with the Applied Force on the first two screens, most likely to do with snapping the arm to 0.001 m increments. I need to dig in a bit more, but I'll report back soon.

[2018-06-20 20:20] pixelzoom commented on #57
Examples?

[2018-06-20 20:21] pixelzoom commented on #57
Code for all 3 screens is shared, so we should get this sorted out for all 3 screens before giving the client anything.

Examples?

[2018-06-20 20:34] pixelzoom commented on #58
Next step is to discuss https://github.com/phetsims/hookes-law/issues/58#issuecomment-397737253 in a design meeting.

[2018-06-20 20:35] arouinfar commented on #57
@pixelzoom there is some instability in the Applied Force's decimal.

## Example 1
Initially, arm is dragged, and x is 0.138 m.
![image](https://user-images.githubusercontent.com/8419308/41682765-e0d9252c-7495-11e8-928c-eaf56f9dcab5.png)

k is reduced by 10, but F increases. Previously, a change in k never caused a change in F.
![image](https://user-images.githubusercontent.com/8419308/41682787-eb

[2018-06-20 20:36] pixelzoom commented on #58
Labeled with "block-publication".  We're so close to a stable/general API that we should complete this before going creating a new release branch and going through the QA process.

[2018-06-20 20:47] pixelzoom commented on #57
From your first step in Example 1:

x = F / k = 66.2 / 470 = 0.14085106382978724 = 0.141

The model doesn't (and shouldn't) know why x changed.  But it sees x change and therefore computes F:

F = k * x  = 470 * 0.141 = 66.27 = 66.3

And it's the same issue in all of the other examples. This demonstrates the perils of trying to limit sig figs in the model (vs the view).   And what happens when rel

[2018-06-20 20:52] pixelzoom commented on #57
If we hadn't limited displacement to 3 decimals in the model, then we would have no change in F:

F = k * x = 470 * 0.14085106382978724 = 66.2

But then we would have Property "loops"  for some values, due to floating-point error, as we've been trying to address in https://github.com/phetsims/hookes-law/issues/52.

[2018-06-20 21:04] pixelzoom commented on #57
@arouinfar and I discussed via phone and agreed that this is currently in a bad state. We couldn't possibly release something with this problem.  So labeling with "block-publication".

And I have run out of time to work on this further.

[2018-06-21 16:43] arouinfar commented on #57
@kathy-phet limiting x to 3 decimals in the model (as was necessary to reduce the number of messages in #52) creates devastating user-facing consequences https://github.com/phetsims/hookes-law/issues/57#issuecomment-398887691.

Because x is required to snap to the nearest 0.001 m, the applied force cannot remain constant while changing k. This is pedagogically problematic, and not acceptable for a

[2018-07-11 21:16] pixelzoom commented on #58
Going forward, it's my understanding that all PhET-iO APIs should be "thoughtful, sparse and stable".  So I'm renaming this issue to "design and implement PhET-iO API".

[2018-07-15 22:55] samreid commented on #58
Unassigning until next PhET-iO design meeting.

[2018-07-18 15:39] pixelzoom commented on #58
Unassigning until we resume work on Hooke's Law.

[2018-07-18 15:40] pixelzoom commented on #57
Unassigning until we resume work on Hooke's Law.

[2018-07-18 15:41] pixelzoom commented on #52
Unassigning until we resume work on Hooke's Law.

[2018-07-19 18:12] pixelzoom commented on #52
An alternative to living with issues (like this one) caused by floating point error is to investigate libraries that address the problem -- e.g. [math.js](http://mathjs.org) or [sinful.js](https://github.com/guipn/sinful.js/wiki/API#math)

See also the "Handling Floating Points in JavaScript" section of  [What Every JavaScript Developer Should Know About Floating Points](https://modernweb.com/what

[2018-08-16 20:05] pixelzoom opened #60 "revise sliders"
These should be the intervals for sliders:

Spring Constant sliders:
- [x] thumb interval = 10
- [x] tweaker interval = 1

Applied Force sliders:
- [x] thumb interval = 5
- [x] tweaker interval = 1
- [x] display min and max as "-100" and "100" (no decimal place)

Displacement slider:
- [x] thumb interval = 0.05
- [x] tweaker interval = 0.01

[2018-08-16 20:26] pixelzoom commented on #58
8/16/18 design meeting, reviews open items in https://github.com/phetsims/hookes-law/issues/58#issuecomment-397737253:

This is a general issue, will not be addressed here.

Wait until someone asks for it.  The way to do this would be to instrument vectors, so that visibility of the value is accessible via the API.  If we do add this, the client is responsible for hiding the "Values" checkbox.  If

[2018-08-16 20:27] pixelzoom commented on #57
8/16/18 design meeting:

We met about this.  I'm going to undo the constraints on the model, and revisit this.

[2018-08-16 20:28] pixelzoom commented on #58
I think we've addressed everything.  I'll take another look through the issue before closing.

[2018-08-16 21:09] pixelzoom commented on #60
The way that various related constants are specified in HookesLawConstants is not at all clear.  Revise to use names like `SPRING_CONSTANT_THUMB_INTERVAL` and `SPRING_CONSTANT_TWEAKER_INTERVAL`.  And have something like `ROBOTIC_ARM_DRAG_INTERVAL` for displacement controlled by the robotic arm.

[2018-08-16 21:54] pixelzoom commented on #60
I adjusted the slider intervals.  But `HookesLawConstant.APPLIED_FORCE_DELTA` needs attention.  It looks like the related option (`appliedForceDelta` in `Spring`) was used at one time, but is no longer used (see https://github.com/phetsims/hookes-law/commit/115852b52e3d06988e3b2c719a2751aad986a6db).   Can it be deleted? Or is it something that needs to be restored when I address #57 ?

[2018-08-16 21:59] pixelzoom commented on #58
Everything is indeed done.  I'll leave this open so we can complete this Studio checklist item:

- [ ] developers can look through studio to make sure tandems are accurate, and see if anything can be eliminated.

... but we can't proceed with that until we decide what to do about reentrant calls to Property `set`. See https://github.com/phetsims/hookes-law/issues/52 and https://github.com/phetsims

[2018-08-18 17:02] pixelzoom commented on #52
In the above commit, I reverted the attempt to constrain values in the model.  Now I'll (re)investigate how this impacts the data stream, whether we have "Property loops", etc.

[2018-08-18 17:07] pixelzoom commented on #57
In 8/16/18 design meeting, we decided that it unnecessary to constrain the number of decimal places in the model, and that it was OK to show model values (including possible floating point errors) in the PhET-iO data stream.   To that end, I removed such constrains in https://github.com/phetsims/hookes-law/issues/52#issuecomment-414072168.  This addresses the problems that @arouinfar reported in h

[2018-08-18 18:40] pixelzoom commented on #57
Reopening.  There are still some problems here.  For example, we added a decimal place to Spring Force.  Shouldn't we then add an additional decimal place to Spring Force components for the parallel system?

[2018-08-18 20:27] pixelzoom commented on #52
In the above 2 commits, I reverted the attempt to constrain values in the model. Now I'll (re)investigate how this impacts the data stream, whether we have "Property loops", etc.

[2018-08-18 21:02] pixelzoom commented on #60
Merging this issue into #57, since this deals with more than just slider and tweaker intervals.

[2018-08-18 21:02] #60 closed, assigned to pixelzoom

[2018-08-18 21:15] pixelzoom commented on #57
Model value constraints have been removed, the number of decimals for displayed values has been revised, and the slider/tweaker intervals have been revised.

Here are the current values, as implemented in `HookesLawConstants`:

[code]

These changes are present in [1.1.0-dev.12](https://phet-dev.colorado.edu/html/hookes-law/1.1.0-dev.12/phet/hookes-law_en_phet.html). @arouinfar please review.

Her

[2018-08-18 21:46] pixelzoom commented on #52
After removing model value constraints, there ubiquitous cycles ("Property loops"), which can be observed by running with `?log`.   For example:

1. Start sim with `?log`
2. Go to Intro screen
3. Press the right tweaker for Applied Force.

Here's an annotated log that shows how relevant Properties for the spring ("spring1") and the robotic arm change.  I've added comments, and indentation/brackets

[2018-08-18 23:03] pixelzoom commented on #52
I tried 2 things in the above commits, and published in [1.1.0-dev.13](https://phet-dev.colorado.edu/html/hookes-law/1.1.0-dev.13/phet/hookes-law_en_phet.html):

(1) Update displacement and applied force only if their new value exceeds the old value by 1E-10.  This should prevent update cycles due to floating point error.  `ThresholdProperty` (EDIT: renamed `EpsilonProperty`) generalizes the imple

[2018-08-18 23:04] pixelzoom commented on #52
@arouinfar Could you please try [1.0.0-dev.13](https://phet-dev.colorado.edu/html/hookes-law/1.1.0-dev.13/phet/hookes-law_en_phet.html) as see if you notices anything wrong?  I'm trying a new approach to mitigate the "update cycles" caused by floating point error in the model.

[2018-08-20 14:05] samreid commented on #52
One way to avoid ordering dependencies and eliminate loops is to use lower case properties and Emitters, like so:

[code]

Many of our user interface components (like HSlider) require a Property interface, so you would need to build adapters for those.

[2018-08-20 14:21] samreid commented on #52
We have seen this problem in other circumstances so I'm brainstorming ways to address it.  What if Property had a "withholdNotifications" state so you could set the values of multiple Properties at once, then resume notifications after all values are set?

[code]

Or what if there was a function that set the values of multiple Properties at the same time, only sending out notifications after all i

[2018-08-20 18:47] arouinfar commented on #52
@pixelzoom things are looking good to me. I also tested with `?log` and the messages seemed appropriate (and non-repetitive), though I'm not a PhET-iO expert.

[2018-08-20 19:11] arouinfar commented on #57
@pixelzoom the updated thumb/tweaker intervals all look good to me. Agreed that `PARALLEL_SPRING_FORCE_COMPONENTS_DECIMAL_PLACES` should be 2.

This is OK with me. It's a consequence of the precision limits, and the values are being correctly rounded. Thanks for checking!

[2018-08-20 19:15] pixelzoom commented on #57
OK, we're done here.  In summary, the model is unconstrained, and we revised the view.

[2018-08-20 20:42] pixelzoom commented on #52
@samreid wrote:

More complicated client code, and no leveraging of Property.

Better than the "properties and Emitters" idea.  More complicated client code, but it could be used to address the "intermediate state" problem encountered with DerivedProperty.

[2018-08-20 21:00] pixelzoom commented on #52
Here's where I'm at with this...

I've been able to reduce, but not eliminate update cycles that are due to floating-point error.

I've used `EpsilonProperty` to prevent some Properties (`appliedForceProperty` and `distanceProperty`) from being set unless the difference between their current value and new value is greater than some small epsilon (1E-10). This terminated many of the update cycles.

[2018-08-20 21:08] pixelzoom commented on #52
Above I said:

Perhaps this could be accomplished by using the nested nature of the message stream.  If a message related to some Property contains additional messages related to that Property, then ignore them (and other related messages?)   This would take some significant investigation to characterize the various situations where messages should be filtered out.

[2018-08-20 21:12] pixelzoom commented on #52
@samreid @zepumph Suggestion on how to proceed with this issue?  What do you think we should do about Property update cycles wrt PhET-iO?

[2018-08-20 21:12] pixelzoom commented on #52
@samreid @zepumph Never mind... I'm going to move this to a more general phet-io issue.

[2018-08-20 21:28] pixelzoom commented on #52
Moving discussion of the general issue to https://github.com/phetsims/phet-io/issues/1349.  This issue is blocked until that issue is resolved.

[2018-08-21 17:33] pixelzoom opened #61 "reuse of code for point tool"
Graphing Lines has a point tool that looks like this:
![screenshot_717](https://user-images.githubusercontent.com/3046552/44418354-6455e280-a535-11e8-87d7-54ab133a2be3.png)

Graphing Quadratics has a point tool that is similar, but has a different "crosshair" sensor:
![screenshot_718](https://user-images.githubusercontent.com/3046552/44418387-7df72a00-a535-11e8-92c7-78446647c0f7.png)

To implement

[2018-08-21 17:36] arouinfar commented on #61
@pixelzoom I think you have the wrong repo.

[2018-08-21 20:17] pixelzoom commented on #61
Oops, thanks @arouinfar.  Guess I'm working on too many things at once :)

Moved to https://github.com/phetsims/graphing-quadratics/issues/18.

[2018-08-21 20:17] #61 closed, assigned to amanda-phet

[2018-08-21 22:11] pixelzoom commented on #52
Note to self: Before closing this issue, I should:

- [ ] Include something in implementation-notes.md about this issue, why/when `reentrant: true` is used, why/when `EpsilonProperty` is used, concerns, etc.

[2018-08-21 23:22] pixelzoom commented on #46
I replaced TWEEN with TWIXT.  But now there's a little too much animation stuff in IntroScreenView for my taste.  So I'm going to factor that out.

[2018-08-22 19:58] pixelzoom commented on #46
Animation has been factored out into `IntroAnimation`.   I used the same durations and easing, so behavior looks the same as the TWEEN implementation.

Closing.

[2018-08-22 19:58] #46 closed, assigned to pixelzoom

[2018-08-23 19:03] pixelzoom opened #62 "CT error: Assertion failed: Cannot register two different instances to the same id"
[code]

This popped up after I converted from TWEEN to TWIXT in https://github.com/phetsims/hookes-law/issues/46.  There are now 2 Properties inside `IntroAnimation` that are created dynamically, each time the number of systems is changed. Those Properties are `system1CenterYProperty` and `system2OpacityProperty`. They are encapsulated inside IntroAnimation by design, and they are instrumented to

[2018-08-23 22:51] samreid commented on #62
Often the solution to that kind of problem is to make sure the tandems are unregistered by calling `dispose` on them.  When I tried that for Hooke's Law, it solved the problem for the "Events: colorized" wrapper.  However, with that solution, the "State" wrapper doesn't work properly, because the downstream simulation doesn't get the message about when it should be creating or disposing those new

[2018-08-23 22:58] pixelzoom commented on #62
That's an expedient workaround.  But if there's not a way to do this that works, that seems like a problem.

[2018-08-23 23:20] pixelzoom commented on #62
I've worked around this as suggested in https://github.com/phetsims/hookes-law/issues/62#issuecomment-415596068.   I'm not really happy with the result -- IntroAnimation shouldn't need to know about anything other than the Nodes to animate and the layoutBounds.   I'm going to consider rewriting IntroAnimation so that a single instance (and its Animations) can be reused/re-run.

[2018-08-24 00:25] pixelzoom commented on #62
I rewrote things so that one persistent instance of `IntroAnimator`  handles all animation of transitions between 1 and 2 systems.  And that instance is responsible for creating the problematic Properties.

@samreid A question...  I did not assign a tandem id to the instance of `IntroAnimator`, so the 2 Properties that it creates currently have ids:

hookesLaw.introScreen.view.system1CenterYProper

[2018-08-24 00:51] samreid commented on #62
From a PhET-iO perspective, the animator seems like an implementation detail, not a feature that should appear in the PhET-iO API.  Therefore it seems best to use:

[code]

[2018-08-24 01:00] #62 closed, assigned to samreid

[2018-08-31 18:08] pixelzoom commented on #52
I'm leaning toward removing `EpsilonProperty`. It's a questionable way of addressing the issue, puts the sim in a (technically) inconsistent state, and could cause other problems.   In the meantime, I've added an `epsilon` query parameter, see above commit.

[2018-08-31 19:31] samreid commented on #52
Removing `EpsilonProperty` sounds reasonable to me.  If we need to alert our clients that the data stream sometimes cycles or has numerical roundoff issues, that would be acceptable.

[2018-09-03 18:10] pixelzoom commented on #52
`EpsilonProperty` and `epsilon` query parameter were removed in the above commit.

[2018-09-03 18:13] pixelzoom opened #63 "document reentrant Properties"
This is one of the sims identified in phetsims/axon#179 (comment). Document why `reentrant: true` is needed for various Properties.

[2018-09-03 19:32] pixelzoom commented on #63
Documentation completed.  I also removed `reentrant: true` for 3 Properties where it was not needed.

Closing.

[2018-09-03 19:45] pixelzoom commented on #52
So.... "reentrant" was added as a Property option, and PhET-iO no longer fails when reentry occurs.   And Hooke's Law is basically back to where we started -- it still has 3 Properties that require `reentrant: true`.

Reentry has an impact on the PhET-iO data stream, and in https://github.com/phetsims/phet-io/issues/1349 we're discussing what to do about that.   If there's a need to do anything fo

[2018-09-03 19:45] #52 closed, assigned to pixelzoom

[2018-09-04 01:04] samreid commented on #63
Latest CT is showing:

[code]

[2018-09-04 14:39] KatieWoe opened #64 "CT: Assertion failed: reentry detected"
[code]

[2018-09-04 15:36] pixelzoom commented on #64
Duplicate of https://github.com/phetsims/hookes-law/issues/63#issuecomment-418212537.

[2018-09-04 15:36] #64 closed, assigned to pixelzoom

[2018-09-04 15:55] pixelzoom commented on #63
CT errors were also reported in #64, which I've closed as a duplicate.

[2018-09-04 15:59] pixelzoom commented on #63
In https://github.com/phetsims/hookes-law/commit/6445b03e72b294f358875b9d62164343e44a3c22, `reentrant: true` was accidentally removed from displacementProperty, when I relocated the associated comment.  Restored in the above commit.

[2018-09-04 16:17] KatieWoe commented on #64
Sorry about that.

[2018-09-04 16:23] pixelzoom commented on #63
CT is happy again. Closing.

[2018-09-04 16:23] #63 closed, assigned to pixelzoom

[2018-09-04 16:48] pixelzoom commented on #64
No need to be sorry! I'm glad you reported it.

[2018-09-04 19:10] pixelzoom opened #65 "delete Reentrant screen"
The _Reentrant_ screen was created to help understand the relationships between reentrant Properties in this sim.  Enable it using the `?reentrant` query parameter. See https://github.com/phetsims/phet-io/issues/1349#issuecomment-418473376.

I'd like to delete this screen when it is no longer needed.

[2018-09-10 20:38] pixelzoom commented on #58
Unassigning until this becomes unblocked.

[2018-09-13 18:41] samreid commented on #58
https://github.com/phetsims/phet-io/issues/1349 was unlabeled for blocks-sim-publication, reassigning to @pixelzoom to decide what's next.

[2018-09-17 17:59] chrisklus opened #66 "branch: data-flow"
@samreid and I are investigating here for setting up one-directional data flow for properties tied to UI components. See https://github.com/phetsims/phet-io/issues/1349

[2018-09-24 14:51] pixelzoom commented on #58
@samreid said:

Specifically, in https://github.com/phetsims/phet-io/issues/1349#issuecomment-421109776:

So we're going to move forward without addressing reentrant Properties.

Next step is to therefore to complete this item from https://github.com/phetsims/hookes-law/issues/58#issue-332548783:

So essentially we need to do a review of the PhET-iO instrumentation.  I'm not familiar with how PhET

[2018-09-24 21:35] samreid commented on #58
On slack, @ariel-phet asked if I can respond to the preceding comment.  Self assigning at elevated priority to put it on my list for near-future.

[2018-09-25 02:56] samreid commented on #58
The best course for review would be to assign to @zepumph and/or @samreid and optionally @chrisklus.  The main steps will be to review the instrumentation primarily looking for (a) tandems that have names that don't match conventions (b) tandems that have structures or types that don't match conventions (c) extraneous or missing tandems, and (d) to look through the wrappers to make sure everything

[2018-10-09 20:41] pixelzoom opened #67 "Memory leak testing for 1.1 release."
For #91.

[2018-11-01 17:07] pixelzoom commented on #58
Let's be sure to create a new issue for the code review related to PhET-iO implementation.

[2018-11-01 17:09] pixelzoom opened #68 "PhET-iO code review"
... as noted in https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md.

Refer to https://github.com/phetsims/hookes-law/issues/58 for design requirements.

[2018-11-01 17:10] pixelzoom commented on #58
PhET-iO code review will be done in https://github.com/phetsims/hookes-law/issues/68.

Closing this issue since design and implementation have been completed.

[2018-11-01 17:11] #58 closed, assigned to ariel-phet

[2018-11-01 17:14] pixelzoom commented on #65
Review https://github.com/phetsims/phet-io/issues/1349#issuecomment-422221687, to see if (a) anything therein should be incorporated into this sim, and (b) ultimately delete the Reentrant screen.

[2018-12-04 22:32] pixelzoom commented on #66
@chrisklus @samreid

You added these "guards" to ReentrantScreen with commit message "Added guards around property links to indicate data flow direction":

[code]

This approach seems to assume that user control of the guarded Properties is mutually exclusive. Please explain how this works with multi-touch.  Was this approach tested with multi-touch?  Are you assuming that we will change the multi

[2018-12-04 22:36] samreid commented on #66
What part of the implementation suggests that it won't support multi-touch?  The properties such as `userControlledXProperty` could be passed to multiple touch interface components and it would still have the same effect of controlling the directionality of the data flow (between model and view).  This would neither address pre-existing multi-touch issues nor introduce new multi-touch issues.  Thi

[2018-12-04 22:52] samreid commented on #66
I should also say that recent changes to DynamicProperty to prevent back-propagation may make this effort unnecessary.

[2018-12-13 18:50] pixelzoom opened #69 "PhET-iO redesign"
12/13/18 phetio meeting:
* publish a dev version with new Studio
* work with @arouinfar to review the current instrumentation

[2018-12-13 18:51] pixelzoom commented on #68
Replacing this issue with a review of where we're at.  See https://github.com/phetsims/hookes-law/issues/69.

[2018-12-13 18:51] #68 closed, assigned to nobody

[2018-12-13 21:23] pixelzoom commented on #69
Here's a dev version with revised Studio.  Note that nothing is currently "featured", so you'll need to select the "All" radio button to explore what's currently instrumented.

https://phet-dev.colorado.edu/html/hookes-law/1.1.0-dev.14/phet-io/

Things to address in this review:

- [ ] Is there anything that IS NOT instrumented that should be?
- [ ] Is there anything that IS instrumented that shou

[2018-12-15 00:23] pixelzoom commented on #69
@arouinfar I don't know what the timeframe or priority is for this issue, but the ball is in your court.  Happy to consult with you on this.

[2018-12-15 03:25] arouinfar commented on #69
Thanks @pixelzoom. I've got my hands full with the issues that came out of the Wave Interference dev test, but I'll try to revisit this early next week in case I need to touch base with you.

[2019-01-09 00:52] arouinfar opened #70 "use PhetColorScheme for ENERGY"
See https://github.com/phetsims/scenery-phet/issues/456.

Looks like [HookesLawColors.ENERGY](https://github.com/phetsims/hookes-law/blob/master/js/common/HookesLawColors.js#L82) `rgb( 3, 205, 255 )` should be using `PhetColorScheme.ELASTIC_ENERGY`.

I've always seen PhET sims use a cyan(ish) color for elastic energy, so not sure where the plum color `rgb(153, 51, 102)` specified in `PhetColorSche

[2019-01-09 16:57] pixelzoom commented on #70
@arouinfar said:

I believe that `PhetColorScheme` was ported directly from Java.

[2019-01-09 17:21] pixelzoom commented on #70
Yep, `PhetColorScheme` was directly ported from Java (by me!) on 3/6/2015.    The lastest Java version in Unfuddle is [PhetColorScheme.java](https://phet.unfuddle.com/a#/projects/9404/repositories/23262/file?path=%2Ftrunk%2Fsimulations-java%2Fcommon%2Fphetcommon%2Fsrc%2Fedu%2Fcolorado%2Fphet%2Fcommon%2Fphetcommon%2Fview%2FPhetColorScheme.java&commit=74949).

https://github.com/phetsims/scenery-phe

[2019-01-09 17:39] pixelzoom commented on #70
I went ahead and made this change.   Here's the summary of what was changed:

[code]

"Before" screenshot from 1.0.15 production version:

![screenshot_959](https://user-images.githubusercontent.com/3046552/50917487-d6eb3000-13fa-11e9-9fd6-38f6cda00089.png)

"After" screenshot from master:

![screenshot_960](https://user-images.githubusercontent.com/3046552/50917498-dfdc0180-13fa-11e9-9fc8-318f0db

[2019-01-09 17:41] pixelzoom commented on #70
@arouinfar Just out of curiosity... Could you explain why the graphs are labeled "Potential Energy" and we're using the color for elastic energy, not potential energy?

[2019-01-09 18:11] arouinfar commented on #70
Thanks @pixelzoom, `rgb( 0, 204, 255 )` looks like an appropriate choice for `ELASTIC_ENERGY`.

Potential energy is stored energy, and can take various forms -- gravitational, elastic, chemical, electric, or magnetic. Generally, PhET sims have only dealt with gravitational potential energy and elastic potential energy. When in a given context, it's not uncommon to simply refer to this stored energ

[2019-01-09 18:17] arouinfar commented on #70
Reassigning to @pixelzoom, rather than closing, so he has a chance to see https://github.com/phetsims/hookes-law/issues/70#issuecomment-452797297.

If all looks good, please close.

[2019-01-09 18:36] pixelzoom commented on #70
@arouinfar Thanks for the clarification.

You said:

I don't think verbosity is a problem in this case, and I'm in the favor of using the more verbose names rather than a comment.  Since Hooke's Law is the only sim using either of these color, now would be a good time to change their names.  OK to change in `PhetColorScheme`?

[2019-01-09 18:38] arouinfar commented on #70
Sounds good @pixelzoom, please update the names in `PhetColorScheme`.

[2019-01-09 18:45] pixelzoom commented on #70
Summary of changes:

[code]

Closing.

[2019-01-09 18:45] #70 closed, assigned to pixelzoom

[2019-01-23 00:09] arouinfar commented on #69
@pixelzoom this issue is still on my radar, but I probably won't get to it until after the Google.org deadline at the end of the month.

[2019-01-23 00:46] pixelzoom commented on #69
Thanks for the update.  Like I said, I have no idea what the priority of this issue is.  I'm under the impression (but far from certain) that Graphing Quadratics PhET-iO will be completed before this.

[2019-02-05 19:34] pixelzoom opened #71 "replace '{0}' with NumberDisplay.NUMBERED_PLACEHOLDER"
Noted in https://github.com/phetsims/scenery-phet/issues/446.

See:

[code]

[2019-02-05 21:48] pixelzoom commented on #71
Done, closing.

[2019-02-05 21:48] #71 closed, assigned to pixelzoom

[2019-04-08 20:13] pixelzoom opened #72 "remove Tween preload"
TWEEN was replaced by twixt over in https://github.com/phetsims/twixt/issues/18.  But I still see this in package.json, which I suspect should be removed:

[code]

[2019-04-08 20:23] pixelzoom commented on #72
Tween preload was removed, tested requirejs and built versions.  Closing.

[2019-04-08 20:23] #72 closed, assigned to pixelzoom

[2019-04-15 19:05] KatieWoe opened #73 "Usability for small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Arrows to control sliders could have slightly larger pointer areas
* Total and Components Areas overlap on Systems screen

Screenshots:
![

[2019-04-17 15:58] arouinfar commented on #73
@pixelzoom here is a proposal for updated pointer areas for Total/Components and the NumberControl tweakers, utilizing the asymmetric dilation added in https://github.com/phetsims/scenery-phet/issues/489.

![image](https://user-images.githubusercontent.com/8419308/56302519-2c6c6280-60f7-11e9-8fb5-dd23e72198d6.png)

[2019-04-19 19:00] KatieWoe opened #74 "Applied Force only reaches +-99N with slider thumb"
Test device:
Dell
Operating System:
Win 10
Browser:
Chrome
Problem description:
Found during https://github.com/phetsims/QA/issues/309 but unconnected to that release.
When moving the arm to push springs in you may be stopped before achieving the maximum force.  Seen only under certain circumstances.
Steps to reproduce:
1. Go to the Systems screen
2. Set the spring to be in series
3. Make sure the

[2019-04-19 19:21] KatieWoe commented on #74
Also happens on an iPad, so it is not device specific.

[2019-04-24 18:23] pixelzoom commented on #73
@arouinfar I've made the adjustments specified in https://github.com/phetsims/hookes-law/issues/73#issuecomment-484151960.  Please review in master.

[2019-04-24 18:32] pixelzoom commented on #74
@KatieWoe You indicated that this happened as part of https://github.com/phetsims/QA/issues/309, which is a maintenance release involving hookes-law 1.0.17-rc.1.   But the details you provided indicate that you were testing version 1.0.16.   Please clarify whether this happens in hookes-law 1.0.17-rc.1 and master.   I cannot reproduce in master on macOS 10.14.4 with latest Safara, Chrome, or Firef

[2019-04-24 18:35] KatieWoe commented on #74
The details were because I tested on the published version to make sure it wasn't due to the maintenance release.  It occurs on the published, and those are the details I used.  I hadn't checked on master, so its possible it had already been addressed there.

[2019-04-24 18:36] pixelzoom commented on #74
I am able to reproduce this in 1.0.16 (the version currently published on the PhET website) and in 1.0.17-rc.1.   I am not able to reproduce in master.    @KatieWoe does that match what you see?

[2019-04-24 18:37] KatieWoe commented on #74
It does @pixelzoom

[2019-04-24 18:39] pixelzoom commented on #74
OK.  This is likely something related to NumberControl (common code) that was fixed in master.  There have been so many changes to NumberControl since the 1.0 release branch that I don't think we should attempt to patch it.

@arouinfar are you OK with this problem existing until we get around to creating a 1.1 release branch for hookes-law?  That is unlikely to happen anytime soon, especially with

[2019-04-24 19:19] arouinfar commented on #74
Yes, that sounds reasonable to me, given that the current behavior is unlikely to do any pedagogical damage.

[2019-04-24 19:26] pixelzoom commented on #74
We'll keep this issue open until it's regression tested for the next release branch.

To summarize... This problem is present in the 1.0 release branch, but is not present in master. It's likely something that was fixed in NumberControl.

[2019-04-24 21:17] arouinfar commented on #73
👍

[2019-04-24 21:17] #73 closed, assigned to arouinfar

[2019-07-03 20:29] pixelzoom commented on #57
This change has not been published.  So reopening and labeling with "fixed-awaiting-deploy".

[2019-07-18 18:28] pixelzoom opened #75 "migrate PhET-iO metadata from code to overrides.js"
Migrate specification of metadata from code to overrides.js (specified using Studio).  This task is similar to what I did for Graphing Quadratrics, summarized in https://github.com/phetsims/graphing-quadratics/issues/112#issuecomment-501020129.    It mainly involves relocating `phetioFeatured` and `phetioComponentOptions`.

In 7/18/19 status meeting, @kathy-phet said I should do this whenever I ha

[2019-08-09 18:59] pixelzoom commented on #49
I briefly investigated factoring out a base class `BaseSystemNode`.  It quickly got messy, and I bailed.  I recommend leaving this as is.

[2019-08-09 19:21] pixelzoom commented on #65
I've reviewed phetsims/phet-io#1349, and don't see anything that I want to incorporate into Hooke's Law.

The _Reentrant_ screen has been deleted from master.  It continues to live in branch "data-flow".

[2019-08-09 19:21] #65 closed, assigned to nobody

[2019-08-09 19:23] #49 closed, assigned to nobody

[2019-08-09 19:24] pixelzoom commented on #66
The _Reentrant_ screen now lives in this branch only, it has been deleted from master. See #65.

[2019-08-09 19:49] pixelzoom commented on #75
Since this sim never had `phetioFeatured`, `phetioComponentOptions`, and other metadata added directly to the source code, there was not a lot to do here.

I took a look through the code, and ended up instrumenting one Property in `RoboticArm` model element (see above commit).   Otherwise I assumed that anything that was not instrumented was purposely not instrumented during the first PhET-iO desi

[2019-08-09 19:49] #75 closed, assigned to pixelzoom

[2019-08-09 19:52] pixelzoom commented on #69
In #75, I completed cleanup of the code.   As I said in that issue, I did not make any big changes to what was already instrumented, and I did not add any metadata (e.g. `phetioFeatured`).

This sim is now ready for redesign using Studio.  If you encounter any model/view component that does not appear in Studio, please create an issue to have it instrumented.

[2020-02-20 22:59] pixelzoom opened #76 "use AquaRadioButtonGroup"
From phetsims/sun#555, convert this sim to use AquaRadioButtonGroup for phet-io.

Use in place of AquaRadioButton in these 2 places:

- [x] `SystemsVisibilityControls`:  This radio button group needs to be disabled when "Spring Force" is unchecked.  AquaRadioButtonGroup currently does not support this.

<img width="233" alt="screenshot_142" src="https://user-images.githubusercontent.com/3046552/74

[2020-03-20 19:17] pixelzoom commented on #76
`SystemsVisibilityControls` is blocked by https://github.com/phetsims/sun/issues/582.

`EnergyVisibilityControls` is blocked by https://github.com/phetsims/sun/issues/583.

[2020-03-31 23:14] zepumph commented on #76
https://github.com/phetsims/sun/issues/582 has been completed and closed.

[2020-04-02 16:47] pixelzoom commented on #76
`SystemVisibilityControls` is done in the above commit.

`EnergyVisibilityControls` is still blocked by phetsims/sun#583.

[2020-04-03 14:58] KatieWoe opened #77 "CT Tandem was required but not supplied"
[code]

[2020-04-03 17:31] pixelzoom commented on #77
Thanks @KatieWoe. Fixed in the above commit. Closing

[2020-04-03 17:31] #77 closed, assigned to pixelzoom

[2020-04-03 19:30] pixelzoom opened #78 "use Enumeration"
Replace string literals with Enumeration, then replace these StringProperty instances with EnumerationProperty:

- [x] EnergyViewProperties `graphProperty`

- [x] SystemsViewProperties `seriesParallelProperty`

- [x] SystemsViewProperties  `springForceRepresentationProperty`

[2020-04-03 20:13] pixelzoom commented on #78
Done, closing.

[2020-04-03 20:13] #78 closed, assigned to pixelzoom

[2020-04-07 19:21] pixelzoom commented on #76
From https://github.com/phetsims/sun/issues/583#issuecomment-610571992:

This also applies to `HOOKES_LAW/EnergyVisibilityControls`.

[2020-09-08 23:40] pixelzoom opened #79 "replace deprecated input listeners"
Related to https://github.com/phetsims/scenery/issues/1078.

- [x] RoboticArmNode: SimpleDragHandler > DragListener

[2020-09-09 00:23] pixelzoom commented on #79
Done, closing.

[2020-09-09 00:23] #79 closed, assigned to nobody

[2021-01-14 18:38] pixelzoom commented on #69
1/14/2021 PhET-iO meeting:

Ideally @kathy-phet would like this work to be done in 2021.  I can proceed with cleaning things up and moving things forward at my discretion.  There are currently no milestones for QA and publishing.

FYI @arouinfar @kathy-phet

[2021-01-21 18:06] pixelzoom commented on #69
I reviewed the state of this sim, and apparently I already did cleanup circa August 2019 - see https://github.com/phetsims/hookes-law/issues/69#issuecomment-520043247.  The overrides.js file is currently empty, and the sim is ready for redesign using Studio.

Assigned to @arouinfar and @kathy-phet to handle PhET-iO redesign.  Please create new GitHub issues for any change requests.

[2021-01-21 18:34] pixelzoom commented on #76
For EnergyVisibilityControls... Since the "Energy" checkbox appears below the radio button group, I decided to convert the radio buttons to use AquaRadioButtonGroup.  The "Energy" check box does not appear as a child of the "Force Plot" radio button in the Studio tree, but that seems OK to me -- we'll see if it comes up in PhET-iO redesign #69.

Closing.

[2021-01-21 18:34] #76 closed, assigned to nobody

[2021-02-03 18:21] pixelzoom opened #80 "Hookes Law - Publish 1.2 with PhET-iO"
From 1/14/21 meeting and the PhET Project Overview:

PhET-iO instrumentation needs to be brought up to current standards.
Ideally @kathy-phet would like this work to be done in 2021.

There are currently no milestones for QA and publishing.

#69 (PhET-iO redesign) is the primary related issue.

[2021-02-03 18:23] pixelzoom commented on #69
Implementation is now up to current standards, see https://github.com/phetsims/hookes-law/issues/69#issuecomment-764836105. Next up is to review the design, so assigning to @arouinfar and @kathy-phet.

[2021-02-03 18:23] pixelzoom commented on #80
Implementation is now up to current standards, see https://github.com/phetsims/hookes-law/issues/69#issuecomment-764836105. Next up is to review the design, so assigning to @arouinfar and @kathy-phet.

[2021-05-12 19:15] brooklynlash commented on #74
I have noticed that now it goes to -100N, but the arrow is still on, like you can press to go further. If you press the button it then goes unclickable like it should be, but I am not sure if this is a problem or not. Only happens when the spring constants aren't 200N/m and 200N/m, and maybe some other ratio combinations, haven't explored fully yet.
![hookeslaw](https://user-images.githubuserconte

[2021-05-12 21:15] pixelzoom commented on #57
To summarize, there were 4 categories of things that were adjusted:

(1) the number of decimal places for quantities that are displayed
(2) the drag interval for slider thumbs
(3) the intervals for arrow buttons (aka tweakers)
(4) the drag interval for the robotic arm

For QA verification...  Unless otherwise noted, verify the following on all 3 screens.  Check the "Values" check box in each scree

[2021-05-12 21:33] pixelzoom commented on #74
Thanks @brooklynlash.  It sounds like you've uncovered a few things that should be investigated.  So I'll remove the "fixed-awaiting-deploy" label.

[2021-05-12 22:23] brooklynlash commented on #74
I'll try to observe some patterns in the sim and see if it's replicated on Win10. I'll let you know what I see.

[2021-05-12 22:25] liammulh commented on #57
See the above checklist for what's been verified. Reassigning @pixelzoom.

[2021-05-12 22:32] pixelzoom commented on #57
Looks like everything passed, thanks @liam-mulhall. Closing.

[2021-05-12 22:32] #57 closed, assigned to pixelzoom

[2021-05-12 22:43] brooklynlash commented on #74
On the Systems screen, with series system:

Applied Force reaches the 99.9N on either side when left spring is 220-240, 290, 310, 320, 350, 390, 430, 460, 530, 560, 570, 580, 590 N/m, while right spring is 200 N/m.

Applied Force reaches 100.0N but the arrow button is still enabled when the left spring is at 210, 250, 270, 280, 300, 330, 340, 370, 380, 420, 440, 450, 480, 490, 510, 520, 540 N/m, a

[2021-05-12 23:37] pixelzoom commented on #74
Thanks @brooklynlash.  Good info.  I'll let you know if I have any questions.  There are no immediate plans to re-publish this sim, so I may not get to this for awhile.

[2021-07-07 16:56] pixelzoom commented on #74
I had a few minutes to look at this today. I'm on macOS 11.3.1 with Chrome 91, Safari 14.1, and Firefox 89. @brooklynlash didn't specify here configuration.

I can't reproduce what @brooklynlash described in https://github.com/phetsims/hookes-law/issues/74#issuecomment-840033575 and https://github.com/phetsims/hookes-law/issues/74#issuecomment-840140864.  The Applied Force slider range is [-100.0,

[2021-07-13 17:27] pixelzoom commented on #74
Slack dev-public channel:

Kathryn Woessner  11:26 AM
QA repo could use a test or two if anyone has something

Chris Malley  11:27 AM
Please see if you can reproduce https://github.com/phetsims/hookes-law/issues/74 in master.

[2021-07-13 17:47] brooklynlash commented on #74
@KatieWoe @pixelzoom Looks fixed in master, Win10 Chrome.

[2021-07-13 17:52] pixelzoom commented on #74
Excellent! But weird - I can't guess how this might have self-healed in common code. Anyway... Thanks for testing, and I'm going to close this.

[2022-01-04 20:52] pixelzoom commented on #69
Status for 1/4/2022 quarterly-planning meeting:

* Cleanup has been done.
* This issue has been assigned to AR & KP for design since 1/21/21.